.application-sections-wrap {
  @include display(flex);
  @include flex-wrap(wrap);
}

.application-section {
  height: 1%;
  margin: 0 0 6rem 0;
  overflow: hidden;
  padding: 0 0 0 0;
  width: 100%;

  @include media($nav-width) {
    padding: 2rem;
    width: 50%;
    width: calc(50% - 3rem);
    margin: 0 0 6rem 0;
    margin: 0 calc(3rem) 6rem 0;
    border: 1px solid $color-gray-light;
  }
}

.application-section-heading {
  margin-top: 0;
}

.application-section-detail {
  @include display(flex);
  @include justify-content(space-between);
  border-bottom: 1px solid $color-gray-lighter;
  margin: 0 0 .5rem 0;

  &:last-child {
    border-bottom: none;
  }

  .heading {
    font-weight: $font-bold;
  }
}

.application-section-description {
  margin-bottom: 9rem;

  p {
    margin: 0;
  }
}
