.card-set {
  @include display(flex);
  @include flex-direction(column);
  @include flex-wrap(wrap);
}

.card {
  border: 1px solid $color-gray-light;
  border-radius: 2px;
  margin: 0 0 6rem 0;
  padding: 2rem;
  position: relative;
  width: 100%;
}

// Shows two cards in a row arranged horizontally and flows downward
.card-set--halves {
  @include flex-direction(row);
}

.card-set--halves .card {

  @include media($nav-width) {
    width: 50%;
    width: calc(50% - 3rem);
    margin: 0 0 6rem 0;
    margin: 0 calc(3rem) 6rem 0;
  }
}

// Card Headings
.card__heading {
  margin-top: 0;
}

.card__bulk-actions {
  position: absolute;
  right: .5rem;
  top: 1rem;
}

// Standalone Cards
.standalone-card {

  @include media($nav-width) {
    background-color: white;
    border: 1px solid $color-gray-lighter;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0,0,0,.05);
    float: none;
    margin: 6rem auto 0 !important;
    padding: 4rem;
  }
}
