.card {
  margin-bottom: 10rem;
}

.card__heading {
  border-bottom: 1px solid $color-gray-lighter;
  font-size: 2.8rem;
  padding-bottom: 1.2rem;
}

.standalone-card {

  @include media($nav-width) {
    background-color: white;
    border: 1px solid $color-gray-lighter;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0,0,0,.05);
    float: none;
    margin: 6rem auto 0 !important;
    padding: 4rem;
  }
}
