/* Nav Bar ===================================*/
.certify-navbar {
  background: $color-primary-darkest;
  border-bottom: 1px solid $color-primary-darkest;

  @include media($nav-width) {
    background-color: transparent;
    display: none;
  }
}

.masthead--vendor .certify-navbar {
  background: $color-base;
  border-bottom: 1px solid $color-base;

  @include media($nav-width) {
    background-color: transparent;
    display: none;
  }
}

.certify-navbar .certify-logo {
  margin-top: .4rem;
  width: 20rem;
}

.certify-logo__link {
  margin: 1.2rem 0;
}

/* Primary and Secondary Navigation Container ===================================*/
.certify-nav {

  @include media($nav-width) {
    @include transform(none);
    background: transparent;
    float: none;
    padding-top: 0;
    position: static;
  }

  &.is-visible .usa-grid-full {
    margin-left: 0;
    margin-right: 0;
  }
}

.certify-nav .certify-logo{
  display: none;

  @include media($nav-width) {
    @include flex-grow(0);
    display: block;
    height: 1.7rem;
    margin-right: 1rem;
  }

  @include media($nav-width + 100) {
    height: 2.2rem;
    margin-right: 3rem
  }
}

.certify-nav .usa-nav-inner {
  margin-top: 0;
}

/* Global Navigation ===================================*/
.certify-global-nav {

  margin-bottom: 2rem;
  margin-top: 6rem;

  @include media($nav-width) {
    background: $color-primary-darkest;
    font-size: 100%;
    left: 0;
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// Global Nav for Vendors
.masthead--vendor .certify-global-nav{
  @include media($nav-width) {
    background-color: $color-base;
  }
}

.certify-global-nav .usa-grid-full {

  @include media($nav-width) {
    @include align-items(flex-end);
    @include display(flex);
    @include justify-content(space-between);
  }
}

.certify-global-nav__primary {
  @include align-items(center);
  @include display(flex);
}

.certify-global-nav .usa-nav-primary {
  @include display(flex);
  @include flex-direction(column);

  @include media($nav-width) {
    // Non flexbox
    width: auto;
    display: block;

    // For flexbox
    @include align-items(center);
    @include display(flex);
    @include flex-grow(1);
    @include flex-direction(row);
  }
}

.certify-global-nav .usa-nav-primary:last-child {
  @include media($nav-width) {
    @include flex-grow(0);
  }
}

.certify-global-nav .usa-nav-submenu {

  @include media($nav-width) {
    background: $color-primary-darker;
  }
}

.certify-global-nav .usa-nav-primary > li {
  @include order(2);
  border-top: 1px solid $color-gray-light;
  margin-left: 0;

  @include media($nav-width) {
    border-top: none;
    margin-left: -5px
  }

  &.certify-case-search {
    @include order(1);
    border-top: none;
    margin-bottom: 3rem;

    @include media($nav-width) {
      @include order(3);
      margin-bottom: 0;
      margin-right: 0;
    }
  }
}

.certify-global-nav .usa-nav-primary > li.current > a,
.certify-global-nav .usa-nav-primary > li.current button {

  @include media($nav-width) {
    background-color: rgba(255,255,255, .1);
  }
}

.certify-global-nav .usa-nav-primary > li > a,
.certify-global-nav .usa-nav-primary button {

  @include media($nav-width) {
    color: white;

    span {
      line-height: 1.2;
    }

    &:hover {
      background-color: $color-primary-darker;
      color: white;

      span {
        border: none;
      }
    }
  }
}



.certify-global-nav .usa-nav-primary button[aria-expanded] {
  @include media($nav-width) {
  height: 4.8rem
}
}

.certify-global-nav .usa-nav-primary button[aria-expanded=false],
.certify-global-nav .usa-nav-primary button[aria-expanded=false]:hover {

  @include media($nav-width) {
    background-image: url('uswds-0.14.0/img/angle-arrow-down-white.png');
    background-image: url('uswds-0.14.0/img/angle-arrow-down-white.svg');
  }
}

.certify-global-nav .usa-nav-primary button[aria-expanded=true],
.certify-global-nav .usa-nav-primary button[aria-expanded=true]:hover {

  @include media($nav-width) {
    background-color: $color-primary-darker;
    background-image: url('uswds-0.14.0/img/angle-arrow-down-white.png');
    background-image: url('uswds-0.14.0/img/angle-arrow-down-white.svg');
  }
}

.certify-global-nav .usa-nav-link {
  font-size: 1.4rem;
  padding: 1rem 0;

  @include media($nav-width) {
    font-size: 1.5rem;
    padding: 1.5rem;
  }
}

// Search */
.certify-case-search {

  @include media($nav-width) {
    height: 4.8rem;
    margin: -.5rem 5rem 0 1rem;
    max-width: 21rem;
  }

  .usa-search {
    margin-right: 0;
    top: 1rem;
    width: 100%;

    div[role="search"] {
      height: 3.3rem
    }
  }

  .usa-search.usa-search-small [type="submit"],
  .usa-search.usa-search-small .usa-search-submit {
    background-color: $color-primary-darkest;
  }
}

.certify-case-search .usa-search-small {

  @include media($nav-width) {
    width: 100%;
  }
}

/* U.S. Web Design Standards Overrides ===================================*/
.usa-nav-primary button[aria-expanded=true],
.usa-nav-primary button[aria-expanded=false] {
  background-position: right 1.5rem top 50%;
  padding-right: 3.2rem;
}

// Local Nav ===================================*/
.certify-local-nav {
  @include media($nav-width) {
    margin-bottom: -1px;
    margin-top: -1rem;
  }
}

.certify-local-nav__heading {
  font-size: 1.6rem;
  font-family: $font-sans;

  @include media($nav-width) {
    display: none;
  }
}

.certify-local-nav .usa-nav-link {
  font-size: 1.4rem;
  padding: 1rem 0;

  @include media($nav-width) {
    font-size: 1.5rem;
    padding: 1.5rem;
  }
}

.certify-local-nav .usa-nav-primary {

  @include media($nav-width) {
    margin-left: -22px;
  }
}

.certify-local-nav .usa-nav-primary > li {
  margin-left: 0;

  @include media($nav-width) {
    margin-left: -5px
  }

  span {
    @include media($nav-width) {
      position: relative;
      top: -2px;
    }
  }
}

.certify-local-nav .usa-nav-primary button[aria-expanded=true],
.certify-local-nav .usa-nav-primary button[aria-expanded=true]:hover {

  @include media($nav-width) {
    background-image: url('uswds-0.14.0/img/angle-arrow-down-white.png');
    background-image: url('uswds-0.14.0/img/angle-arrow-down-white.svg');
  }
}

.certify-local-nav .current {

  @include media($nav-width) {
    background-color: white;
    border: 1px solid $color-gray-lighter;
    border-bottom: none;
    color: $color-primary;

    &:hover {
      background-color: white;
    }

    &[aria-expanded=false] {
      padding-bottom: 1.7rem;
    }
  }
}

.hide-local-nav .certify-local-nav {
  display: none;
}
