.context-banner {
  background: $color-gray-lightest;
  margin: 0 0 2.35em;
  padding: 0 0 0;
}

.context-banner__primary-heading {
  font-family: $font-sans;
  margin: 0;
}

.context-banner__secondary-heading {
  font-family: $font-sans;
  font-weight: $font-normal;
  margin: 0;
}

.context-banner__actions {
  text-align: center;
}
