.context-banner {
  background: $color-cool-blue-lightest;
  margin: -2.35em 0 2.35em;
  padding: 2em 0 1em;
}

.context-banner__primary-heading {
  font-family: $font-sans;
  margin: 0;
}

.context-banner__secondary-heading {
  font-family: $font-sans;
  font-weight: $font-normal;
  margin: 0;
}

.context-banner__actions {
  text-align: center;
}
