.certify-facets {
  margin-bottom: 3rem;
}

.certify-facets__form-heading {
  font-size: 2.3rem;
  margin: 0 0 2rem;
}

.certify-facets__heading {
  border-bottom: 1px solid $color-gray-lighter;
  display: block;
  font-size: 1.6rem;
  font-weight: $font-normal;
  padding-bottom: 1rem;
  width: 100%;
}

.certify-facets__list {
  list-style: none;
  padding: 0;
  margin: 0;

  > li {
    margin-bottom: .5rem;
  }

  [type=checkbox] + label,
  [type=radio] + label {
    margin-top: 1.5rem;
  }
}

.form-followup {
  border-left: 3px solid $color-gray-lighter;
  margin-left: 3.7rem;
  padding-left: 2rem;
}

.form-info {
  margin-top: 4rem;

  p {
    font-size: 2rem;
  }
}

.message-form {
  textarea,
  .editor-container {
    height: 30rem;
    max-width: none;
  }

  .editor-container {
    margin-bottom: 8rem;
  }
}
