/* Timeline */
.timeline-header {
  font-size: 1.8rem;
  margin: 0;
}

.timeline {
  list-style: none;
  padding: 0;
  position: relative;

  &:before {
    bottom: 0;
    background-color: $color-gray-lighter;
    content: "";
    display: block;
    height: 100%;
    left: 1rem;
    margin-top: 2rem;
    position: absolute;
    top: 0;
    width: 3px;
    z-index: 5;
  }

  .timeline__item,
  .timeline__item:first-child,
  .timeline__item--current,
  .timeline__item--current:first-child {
    margin: 0;
    padding: 1rem 3rem;
    position: relative;

    &:before {
      background-color: $color-gray;
      border: 4px solid white;
      border-radius: 50%;
      content: "";
      display: block;
      left: .3rem;
      height: 1.7rem;
      position: absolute;
      top: 1.4rem;
      width: 1.7rem;
      z-index: 15;
    }

    > p:first-of-type {
      margin-top: 0;
    }
  }

  .timeline__item--current:first-child {
    padding-top: 0;
  }

  .timeline__item--current,
  .timeline__item--current:first-child {
    &:before {
      background-color: $color-green;
      height: 2.3rem;
      width: 2.3rem;
      left: 0;
      top: -.1rem;
    }
  }

  .timeline__item:last-child:after {
    bottom: 0;
    background-color: white;
    content: "";
    display: block;
    height: 100%;
    left: 1rem;
    margin-top: 2rem;
    position: absolute;
    top: 0;
    width: 3px;
    z-index: 10;
  }
}

.timeline__data {
  color: $color-gray;
  display: block;
  margin: 0;
}

.timeline__item--current .timeline__data {
  color: $color-green;
  font-weight: bold;
}

/* Tag Selection List */
.tag-selection-list {
  list-style: none;
  padding: 0;

  label {
    margin-top: 1rem;
  }
}

// Tags List
.tags-list {
  margin: 0;
}

.content-tag {
  background: $color-gold-lighter;
  border-radius: 4px;
  display: inline-block;
  margin-left: 1rem;
  padding: .5rem 1rem;
}
