article.note,
.note {
  border-bottom: 1px solid $color-gray-lighter;
  margin: 1rem 0;
  min-height: 0;
  padding: 1rem 0;
}

.new-note {
  @include transition(all .2s ease-in-out);
  background: $color-gray-lightest;
  border: 1px solid $color-gray-lighter;
  margin-bottom: 4rem;
  padding: 2rem;

  form {
    @include transition(all .5s ease-in-out);
    background: $color-gray-lightest;
    display: none;
    max-width: 100%;
    margin: 0 auto;
  }

  textarea {
    @include transition(all .5s ease-in-out);
    height: 6rem;
    max-width: none;
    width: 100%;
  }

  .tags legend{
    padding-top: 3rem;
  }
}

.new-note-open,
.new-note-open:hover {
  background: white;
  border: 1px solid $color-gray;
  color: $color-gray;
  display: block;
  padding: 2rem;
  width: 100%;
}

.new-note-close,
.new-note-close:active,
.new-note-close:hover {
  background-color: transparent;
  background-image: url('../uswds/img/close.png');
  background-image: url('../uswds/img/close.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30px;
  height: 44px;
  position: absolute;
  right: 1rem;
  text-indent: -999em;
  top: 1rem;
  width: 44px;
}

.new-note.expanded {
  background: white;
  border: none;

  form {
    display: block;
    max-width: 76rem;
    box-shadow: 0 0px 0px 2000px rgba(0,0,0,0.75);
    padding: 60px;
    border-radius: 4px;
    position: relative;
    z-index: 9999999;
  }

  textarea {
    height: 20rem;
  }

  .new-note-open {
    display: none;
  }
}






.note-popup {
  border: 1px solid $color-gray-light;
  border-bottom: none;
  display: none;
  background: white;
  max-height: 85%;
  overflow-y: scroll;

  &.visible {
    display: block;
    position: fixed;
    right: 2%;
    bottom: 0;
    width: 40%;
    z-index: 90000;
  }

  form {
    padding: 0 2rem;

    .tag-selection-list label {
      font-size: 1.3rem;
    }

    input {
      font-size: 1.4rem;
      height: 4rem;
      max-width: none;
    }

    textarea {
      font-size: 14px;
      height: 10rem;
      max-width: none;
    }
  }
}

.note-popup__header {
  color: #fff;
  background: $color-gray-dark;
  padding: .5rem 2rem;
  position: relative;

  h4 {
    font-family: $font-sans;
    margin: 0;
  }
}

.note-popup__close,
.note-popup__close:active,
.note-popup__close:hover {
  background-color: transparent;
  background-image: url('../img/white-x.png');
  background-image: url('../img/white-x.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15px;
  height: 32px;
  position: absolute;
  right: 0;
  text-indent: -999em;
  top: -1rem;
  width: 32px;
  z-index: 900;
}

.note-popup__close:hover {
  background-color: rgba(255,255,255,.25);
}

.note-popup__toggle {
  text-decoration: none;
  position: relative;
  z-index: 800;
}
