.status-summary {
  align-items: top;
  border: 1px solid $color-gray-lighter;
  display: flex;
  flex-direction: column;
  max-width: 76rem;

  h2 {
    font-size: 2.4rem;
    margin: 0 0 1.5rem;
  }
}

.status-summary__primary {
  border-bottom: 1px solid $color-gray-lighter;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 0;
  position: relative;
  width: 100%;
}

.status-summary__secondary {
  display: flex;
  padding: 2rem;
  width: 100%;

  p {
    margin: 0;
  }
}

.status-summary__block {
  width: percentage(3.5/12);

  &:first-child {
    width: percentage(5/12);
  }
}

.status-summary__flag {
  color: $color-gray-dark;
  font-size: 1.4rem;
  font-weight: $font-bold;
}

.status-summary__edit {
  display: inline-block;
  font-size: 1.4rem;
  margin-left: .5em;
}
