.sample {
  background: $color-cool-blue-lightest;
  padding: 2rem;
}

.sample--white {
  background-color: white;
  border: 1px solid $color-gray;
  padding: 2rem;
  margin-bottom: 2rem;
}

.task-sample {
  @include align-items(baseline);
  @include display(flex);
  @include justify-content(space-between);
  background: white;
  border: 1px solid $color-gray-lighter;
  border-radius: 4px;
  padding: 1rem;
}

.icon-box {
  border: 1px solid $color-gray-lighter;
  border-radius: 4px;
  text-align: center;
  padding: 16px;
  margin-bottom: 32px;
}

.icon-box__snippet {
  background: $color-gray-lightest;
  border-radius: 2px;
  padding: 4px 5px;
  font-size: 1.4rem;
  margin: 1.5rem 0 0;
}

.usa-sidenav-list-button {
  background-color: transparent;
  border-radius: 0;
  color: $color-base;
  display: block;
  font-weight: normal;
  margin: 0;
  position: relative;
  width: 100%;
  text-align: left;

  &:hover {
    background-color: $color-gray-lightest;
    color: $color-blue;
  }

  &.usa-current {
    font-weight: bold;
    color: $color-blue;
    border-left: 4px solid $color-blue;
  }

  .sba-c-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -10px;
  }

  .icon-when-open {
    display: none;
  }

  + .usa-sidenav-sub_list {
    display: none;
  }

  &.is-open {

    .icon-when-open {
      display: inline-block;
    }

    .icon-when-closed {
      display: none;
    }

    + .usa-sidenav-sub_list {
      display: block;
    }
  }
}



.styleguide {

  h1 {
    margin-top: 0;
  }

  p code,
  li code,
  table code {
    background: $color-gray-lightest;
    border-radius: 2px;
    padding: 0 8px;
    display: inline-block;
  }
}

.styleguide-masthead {
  background: $color-blue-darkest;
  padding-top: 20px;
  padding-bottom: 16px;
  margin-bottom: 32px;
}

.styleguide-masthead__logo {
  height: 30px;
}

.iframe-example {
  padding: $multiple * 2;
}


.grid-example {
  background: $color-cool-blue-lightest;
  border: 1px solid $color-cool-blue;
  padding-bottom: $multiple * 2;
}

.iframe__preview {
  border: 1px solid $color-gray-lightest;
}
