.sample {
  background: $color-cool-blue-lightest;
  padding: 2rem;
}

.task-sample {
  @include align-items(baseline);
  @include display(flex);
  @include justify-content(space-between);
  background: white;
  border: 1px solid $color-gray-lighter;
  border-radius: 4px;
  padding: 1rem;
}
