.sample {
  background: $color-cool-blue-lightest;
  padding: 2rem;
}

.task-sample {
  @include align-items(baseline);
  @include display(flex);
  @include justify-content(space-between);
  background: white;
  border: 1px solid $color-gray-lighter;
  border-radius: 4px;
  padding: 1rem;
}

.icon-box {
  border: 1px solid $color-gray-lighter;
  border-radius: 4px;
  text-align: center;
  padding: 16px;
  margin-bottom: 32px;
}

.icon-box__snippet {
  background: $color-gray-lightest;
  border-radius: 2px;
  padding: 4px 5px;
  font-size: 1.4rem;
  margin: 1.5rem 0 0;
}
