.quick-details {
  border: none;
  margin: 0;

  tr:last-child th,
  tr:last-child td {
    border-bottom: none;
  }

  th, td {
  border: none;
  border-bottom: 1px solid $color-gray-lighter;
  font-size: 1.5rem;
  margin: 0 0 .5rem 0;
  padding: 1rem 0;
  }

  th {
    color: $color-gray;
    font-weight: $font-normal;
    text-align: left;
  }

  td {
    font-weight: bold;
    text-align: right;
  }

  tr.larger th,
  tr.larger td {
    font-size: 1.7rem;
  }
}

.quick-details--wide {
  margin-bottom: 8rem;

  th {
    @include media($article-max-width) {
      font-size: 1.8rem;
      padding: 2rem 0;
      width: 33.3333%;
    }
  }
  td {
    @include media($article-max-width) {
      font-size: 1.8rem;
      padding: 2rem 0;
      text-align: left;
    }
  }
}

.application-section-description {
  margin-bottom: 9rem;

  p {
    margin: 0;
  }
}

.table-header {
  @include align-items(center);
  @include display(flex);
  @include justify-content(space-between);
  margin: 0 0 -2rem;

  .usa-search {
    margin-right: 0;
    width: 33.333%;
  }

  p {
    margin: 0;
  }
}
