---
layout: styleguide
main_section: components
sub_section: pagination
---

<article id="pagination">
  <h1>Pagination</h1>

  <p>Use pagination for long lists of similar content, such as for search results or notifications. Pagination should always be rendered by the server, and never in the browser. Using pagination for tabular data should be deprecated.</p>

  <h2>Guidance</h2>

  <ul>
    <li>Consider user needs. There are instances where pagination could be a hinderance despite page length.</li>
    <li>If the user is either on the first or last page, the corresponding bookend links are to be disabled.</li>
    <li>
      No matter how many pages are in a set, never use more than seven numeric buttons. If there are more than seven pages in a set, the <code>ellipses</code> is to be used. If the pagination is placed in a narrower page section, use five. <strong>Note:</strong> further testing might set the number of pages to navigate to at five rather than seven depending on design stress points.
      <ul>
        <li>
          If the user is at the beginning, the pattern is to be [<strong>1</strong>][2][3][4][5][6][…][100].
        </li>
        <li>
          If user is at the end of the set, the pattern is to be [1][…][95][96][97][98][99][<strong>100</strong>].
        </li>
        <li>
          Otherwise, the pattern is to be [1][…][13][14][<strong>15</strong>][16][17][…][100]. The current page must be in the middle.
        </li>
        <li>Make the browser narrow to see how the design adapts to mobile layouts.</li>
      </ul>
    </li>
  </ul>

  <h2>Accessibility</h2>

  <p>Use the aria attributes in the example below. The <code>aria-label</code> attribute provides additional context to non-visual users.</p>

  <h2>Example</h2>

  <p>Please note the bordered container boxes are not part of the component.</p>

  <div class="sg-responsive-preview">
    <div class="sg-responsive-preview__size-buttons">
      <button class="sg-responsive-preview__size-button" type="button" data-size="320">
        XS
      </button>
      <button class="sg-responsive-preview__size-button" type="button" data-size="544">
        SM
      </button>
      <button class="sg-responsive-preview__size-button" type="button" data-size="768">
        MD
      </button>
      <button class="sg-responsive-preview__size-button is-current" type="button" data-size="1024">
        LG
      </button>
      <button class="sg-responsive-preview__size-button" type="button" data-size="1280">
        XL
      </button>
    </div>
    <div class="iframe__preview">
      <iframe title="Pagination example" class="responsive-iframe" src="examples/pagination-basic.html" data-width="1024"  allowfullscreen="true" allowtransparency="true" height="112"></iframe>
    </div>
  </div>


  <p><strong>Note:</strong> paths to SVG sprite may vary.</p>

  <pre><code class="language-markup">
&lt;nav class="sba-c-pagination" role="navigation">
  &lt;div class="sba-c-pagination__forwards">
    &lt;a href="#" class="sba-c-pagination__link" aria-label="Next">
      &lt;svg aria-hidden="true" class="sba-c-icon">
        &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-right">&lt;/use>
      &lt;/svg>
    &lt;/a>
    &lt;a href="#" class="sba-c-pagination__link sba-c-pagination__link--end">
      &lt;svg aria-hidden="true" class="sba-c-icon" aria-label="Last page">
        &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-double-right">&lt;/use>
      &lt;/svg>
    &lt;/a>
  &lt;/div>
  &lt;div class="sba-c-pagination__backwards">
    &lt;a href="#" class="sba-c-pagination__link sba-c-pagination__link--disabled sba-c-pagination__link--end" aria-label="First page" aria-disabled="true">
      &lt;svg aria-hidden="true" class="sba-c-icon">
        &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-double-left">&lt;/use>
      &lt;/svg>
    &lt;/a>
    &lt;a href="#" class="sba-c-pagination__link sba-c-pagination__link--disabled" aria-label="Back" aria-disabled="true">
      &lt;svg aria-hidden="true" class="sba-c-icon">
        &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-left">&lt;/use>
      &lt;/svg>
    &lt;/a>
  &lt;/div>
  &lt;div class="sba-c-pagination__numbers">
    &lt;div class="sba-c-pagination__status" aria-label="Currently on page 1 of 20">1 of 20&lt;/div>
    &lt;div class="sba-c-pagination__link sba-c-pagination__link--current" aria-current="page" aria-label="Page 1 (current page)">1&lt;/div>
    &lt;a href="#" class="sba-c-pagination__link" aria-label="Page 2">2&lt;/a>
    &lt;a href="#" class="sba-c-pagination__link" aria-label="Page 3">3&lt;/a>
    &lt;a href="#" class="sba-c-pagination__link" aria-label="Page 4">4&lt;/a>
    &lt;a href="#" class="sba-c-pagination__link" aria-label="Page 5">5&lt;/a>
    &lt;a href="#" class="sba-c-pagination__link" aria-label="Page 6">6&lt;/a>
    &lt;div class="sba-c-pagination__link sba-c-pagination__link--ellipses" aria-label="Skip pages">…&lt;/div>
    &lt;a href="#" class="sba-c-pagination__link" aria-label="Page 20">20&lt;/a>
  &lt;/div>
&lt;/nav>
  </code></pre>

  <h2>More Examples</h2>

  <h4>User is on first page</h4>
  <div class="sample--white">
    <nav class="sba-c-pagination" role="navigation">
      <div class="sba-c-pagination__forwards">
        <a href="#" class="sba-c-pagination__link" aria-label="Next">
          <svg aria-hidden="true" class="sba-c-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-right"></use>
          </svg>
        </a>
        <a href="#" class="sba-c-pagination__link sba-c-pagination__link--end">
          <svg aria-hidden="true" class="sba-c-icon" aria-label="Last page">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-double-right"></use>
          </svg>
        </a>
      </div>
      <div class="sba-c-pagination__backwards">
        <a href="#" class="sba-c-pagination__link sba-c-pagination__link--disabled  sba-c-pagination__link--end" aria-label="First page" aria-disabled="true">
          <svg aria-hidden="true" class="sba-c-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-double-left"></use>
          </svg>
        </a>
        <a href="#" class="sba-c-pagination__link sba-c-pagination__link--disabled" aria-label="Back" aria-disabled="true">
          <svg aria-hidden="true" class="sba-c-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-left"></use>
          </svg>
        </a>
      </div>
      <div class="sba-c-pagination__numbers">
        <div class="sba-c-pagination__status" aria-label="Currently on page 1 of 20">1 of 20</div>
        <div class="sba-c-pagination__link sba-c-pagination__link--current" aria-current="page" aria-label="Page 1 (current page)">1</div>
        <a href="#" class="sba-c-pagination__link" aria-label="Page 2">2</a>
        <a href="#" class="sba-c-pagination__link" aria-label="Page 3">3</a>
        <a href="#" class="sba-c-pagination__link" aria-label="Page 4">4</a>
        <a href="#" class="sba-c-pagination__link" aria-label="Page 5">5</a>
        <a href="#" class="sba-c-pagination__link" aria-label="Page 6">6</a>
        <div class="sba-c-pagination__link sba-c-pagination__link--ellipses" aria-label="Skip pages">…</div>
        <a href="#" class="sba-c-pagination__link" aria-label="Page 20">20</a>
      </div>
    </nav>
  </div>

  <h4>When user is on a page in the middle of a set.</h4>
  <div class="sample--white">
    <nav class="sba-c-pagination" role="navigation">
      <div class="sba-c-pagination__forwards">
        <a href="#" class="sba-c-pagination__link" aria-label="Next">
          <svg aria-hidden="true" class="sba-c-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-right"></use>
          </svg>
        </a>
        <a href="#" class="sba-c-pagination__link sba-c-pagination__link--end">
          <svg aria-hidden="true" class="sba-c-icon" aria-label="Last page">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-double-right"></use>
          </svg>
        </a>
      </div>
      <div class="sba-c-pagination__backwards">
        <a href="#" class="sba-c-pagination__link sba-c-pagination__link--end" aria-label="First page">
          <svg aria-hidden="true" class="sba-c-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-double-left"></use>
          </svg>
        </a>
        <a href="#" class="sba-c-pagination__link" aria-label="Back">
          <svg aria-hidden="true" class="sba-c-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-left"></use>
          </svg>
        </a>
      </div>
      <div class="sba-c-pagination__numbers">
        <div class="sba-c-pagination__status" aria-label="Currently on page 15 of 100">15 of 100</div>
        <a href="#" class="sba-c-pagination__link" aria-label="Page 1">1</a>
        <div class="sba-c-pagination__link sba-c-pagination__link--ellipses" aria-label="Skip pages">…</div>
        <a href="#" class="sba-c-pagination__link" aria-label="Page 13">13</a>
        <a href="#" class="sba-c-pagination__link" aria-label="Page 14">14</a>
        <div class="sba-c-pagination__link sba-c-pagination__link--current" aria-current="page" aria-label="Page 15 (current page)">15</div>

        <a href="#" class="sba-c-pagination__link" aria-label="Page 16">16</a>
        <a href="#" class="sba-c-pagination__link" aria-label="Page 17">17</a>
        <div class="sba-c-pagination__link sba-c-pagination__link--ellipses" aria-label="Skip pages">…</div>
        <a href="#" class="sba-c-pagination__link" aria-label="Page 100">100</a>
      </div>
    </nav>
  </div>

  <h4>When user is on a page at the end of a set.</h4>

  <div class="sample--white">
    <nav class="sba-c-pagination" role="navigation">
      <div class="sba-c-pagination__forwards">
        <a href="#" class="sba-c-pagination__link sba-c-pagination__link--disabled" aria-label="Next" aria-disabled="true">
          <svg aria-hidden="true" class="sba-c-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-right"></use>
          </svg>
        </a>
        <a href="#" class="sba-c-pagination__link sba-c-pagination__link--disabled sba-c-pagination__link--end" aria-disabled="true">
          <svg aria-hidden="true" class="sba-c-icon" aria-label="Last page">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-double-right"></use>
          </svg>
        </a>
      </div>
      <div class="sba-c-pagination__backwards">
        <a href="#" class="sba-c-pagination__link sba-c-pagination__link--end" aria-label="First page">
          <svg aria-hidden="true" class="sba-c-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-double-left"></use>
          </svg>
        </a>
        <a href="#" class="sba-c-pagination__link" aria-label="Back">
          <svg aria-hidden="true" class="sba-c-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-left"></use>
          </svg>
        </a>
      </div>
      <div class="sba-c-pagination__numbers">
        <div class="sba-c-pagination__status" aria-label="Currently on page 15 of 100">50 of 50</div>
        <a href="#" class="sba-c-pagination__link" aria-label="Page 1">1</a>
        <div class="sba-c-pagination__link sba-c-pagination__link--ellipses" aria-label="Skip pages">…</div>
        <a href="#" class="sba-c-pagination__link" aria-label="Page 45">45</a>
        <a href="#" class="sba-c-pagination__link" aria-label="Page 46">46</a>
        <a href="#" class="sba-c-pagination__link" aria-label="Page 47">47</a>
        <div class="sba-c-pagination__link" aria-label="Page 48">48</div>
        <a href="#" class="sba-c-pagination__link" aria-label="Page 49">49</a>
        <div class="sba-c-pagination__link sba-c-pagination__link--current" aria-current="page" aria-label="Page 50 (current page)">50</div>
      </div>
    </nav>
  </div>
</article>
