---
layout: styleguide
main_section: index
sub_section: release notes
---

<article>
  <h1>Release notes</h1>


  {% if site.data.releases.releases[0] %}
    {% for release in site.data.releases.releases %}
    <div class="sba-u-border-bottom--1 sba-u-padding-y--3">
      <h2 class="sba-u-margin--0">Verion {{ release.version }}</h2>
      <p class="sba-u-margin-top--0 sba-u-color--muted">{{ release.date }}</p>
      {% if release.additions %}
        <h3 class="sba-u-margin--0 sba-u-font-size--h4">Added</h3>
        <ul>
          {% for note in release.additions %}
            <li>{{ note.item }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if release.changes %}
        <h3 class="sba-u-margin--0 sba-u-font-size--h4">Changed</h3>
        <ul>
          {% for note in release.changes %}
            <li>{{ note.item }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if release.deletions %}
        <h3 class="sba-u-margin--0 sba-u-font-size--h4">Removed</h3>
        <ul>
          {% for note in release.deletions %}
            <li>{{ note.item }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      </div>
    {% endfor %}
  {% endif %}
</article>
