/* We need:
 - Container
 - Source order options
 - Golden Ratios

*/

.sba-l-taskbar-container {
  margin-left: auto;
  margin-right: auto;
  max-width: $content-max-width;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;

  @media (min-width: $width-sm) {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
}


.sba-l-container {
  margin-left: auto;
  margin-right: auto;
  max-width: $content-max-width;

  @media (min-width: $width-sm) {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
}

.sba-l-container--fullbleed {
  max-width: 100%;
  padding-left:0;
  padding-right: 0;

  @media (min-width: $width-sm) {
    padding-left: 0;
    padding-right: 0;
  }
}


.sba-l-row {
  @include display(flex);
  @include flex-wrap(wrap);
}

.sba-l-row--reverse {
  @include flex-direction(row-reverse)
}


%grid-column {
  box-sizing: border-box;
  min-height: 1px; // Prevent columns from collapsing when empty
  min-width: 0; // Resize columns as expected (https://css-tricks.com/flexbox-truncated-text/)
  //padding-left: ($grid-gutter-width / 2);
  //padding-right: ($grid-gutter-width / 2);
  position: relative;
  width: 100%;
}

@for $i from 1 through $grid-columns {
  // Example: sba-l-col--6
  .sba-l-col--#{$i} {
    @extend %grid-column;
  }
}

.sba-l-col {
  @extend %grid-column;
  @include equal-width-flexbox-col;
}

.sba-l-col--golden-sm {
  @extend %grid-column;
  @include equal-width-flexbox-col;
  @include flex-basis($golden-sm);
}

.sba-l-col--golden-lg {
  @extend %grid-column;
  @include equal-width-flexbox-col;
  @include flex-basis($golden-lg);
}

@for $i from 1 through $grid-columns {
  // Example: sba-l-col--12
  .sba-l-col--#{$i} {
    @include flexbox-col($i);
  }
}

// Breakpoint prefix grids. All
@each $breakpoint in map-keys($breakpoints) {
  $value: map-get($breakpoints, $breakpoint);

  // Allow columns to stretch full width below their breakpoints
  @for $i from 1 through $grid-columns {
    // Example: sba-l-lg-col--12
    .sba-l-#{$breakpoint}-col--#{$i} {
      @extend %grid-column;
    }
  }

  // Example: sba-l-lg-col
  .sba-l-#{$breakpoint}-col {
    @extend %grid-column;
  }

  // Example: sba-l-lg-col--golden-sm
  .sba-l-#{$breakpoint}-col--golden-sm {
    @extend %grid-column;
  }

  // Example: sba-l-lg-col--golden-sm
  .sba-l-#{$breakpoint}-col--golden-lg {
    @extend %grid-column;
  }

  @media (min-width: $value) {
    // Provide breakpoint classes for equal-width columns
    // Example: sba-l-lg-col
    .sba-l-#{$breakpoint}-col {
      @include equal-width-flexbox-col;
    }

    // Example: sba-l-lg-col--golden-sm
    .sba-l-#{$breakpoint}-col--golden-sm {
      @include flex-basis($golden-sm);
    }

    // Example: sba-l-lg-col--golden-sm
    .sba-l-#{$breakpoint}-col--golden-lg {
      @include flex-basis($golden-lg);
    }

    @for $i from 1 through $grid-columns {
      // Example: sba-l-lg-col--12
      .sba-l-#{$breakpoint}-col--#{$i} {
        @include flexbox-col($i);
      }
    }
  }
}
