<ul class="usa-sidenav-list navigation-menu" id="js-navigation-menu2">
  <li>
    <a class="usa-current" href="#">Overview</a>
  </li>
  <li>
    <a class="" href="#">Application Package</a>
  </li>
  <li>
    <a class="" href="#">All Firm Documents</a>
  </li>
  <li>
    <a class="" href="#">Internal Documents</a>
  </li>
  <li>
    <a class="" href="#">Analyst Notes</a>
  </li>
  <li>
    <a class="" href="#">Eligiblity Assesment</a>
  </li>
  <li>
    <a class="" href="#">Messages</a>
  </li>
  <li>
    <a class="" href="#">SAM Snapshot</a>
  </li>
  <li>
    <a class="" href="#">Activity Log</a>
  </li>
</ul>
