<div class="certify-global-nav">
  <div class="usa-grid-full">
    <div class="certify-global-nav__primary">
      <a href="#" class="certify-logo__link">
        <img class="certify-logo" alt="certify.SBA.gov logo" src="{{ relative }}assets/img/certify-sba-gov-logo_on-dark.png" />
      </a>
      <ul class="usa-nav-primary usa-accordion">
        <li class="{% if page.global_nav_active contains "Dashboard" %} current {% endif %}">
          <a class="usa-nav-link" href="{% if page.dashboard_link %}
            {{ page.dashboard_link }}
          {% else %}
            #
          {% endif %}">
            <span>Dashboard</span>
          </a>
        </li>
        <!--
        <li>
          <button class="
          usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="side-nav-1">
            <span>Cases</span>
          </button>
          <ul id="side-nav-1" class="usa-nav-submenu">
            <li>
              <a href="#">My Cases</a>
            </li>
            <li>
              <a href="#">All Cases</a>
            </li>
          </ul>
        </li>
      -->
        <li class="certify-case-search">
          <form class="usa-search usa-search-small">
            <div role="search">
              <label class="usa-sr-only" for="search-field-small">Search small</label>
              <input id="search-field-small" type="search" name="search">
              <button type="submit">
                <span class="usa-sr-only">Search</span>
              </button>
            </div>
          </form>
        </li>
      </ul>
    </div>
    <ul class="usa-nav-primary usa-accordion">
      <li>
        <a class="usa-nav-link" href="#">
          <span>Admin</span>
        </a>
      </li>
      <li>
        <a class="usa-nav-link" href="#">
          <span>Notifications</span>
        </a>
      </li>
      <li>
        <button class="
        usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="side-nav-2">
          <span>My Account</span>
        </button>
        <ul id="side-nav-2" class="usa-nav-submenu">
          <li>
            <a href="#">Edit</a>
          </li>
          <li>
            <a href="#">Settings</a>
          </li>
          <li>
            <a href="#">Log Out</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="usa-nav-link" href="#">
          <span>Help</span>
        </a>
      </li>
    </ul>
  </div>
</div>
