<header class="context-banner">
  <div class="usa-navbar certify-navbar">
    <div class="usa-logo certify-logo" id="logo">
      <img alt="certify.SBA.gov logo" src="{{ relative }}assets/img/certify-sba-gov-logo_on-white.png" width="275px" />
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
  <div class="usa-grid-full">
    <div class="usa-width-two-thirds">
      <h1 class="context-banner__primary-heading">Mike's Garage</h1>
      <h2 class="context-banner__secondary-heading">8(a) Initial Application</h2>
    </div>
    <div class="usa-width-one-third">
      <div class="usa-width-one-whole">
        <div class="usa-width-one-third">
          <p>
            <strong>Owner</strong><br>
            Mike Jones <br>
            703-555-3232
          </p>
        </div>
        <div class="context-banner__actions">
          <a href="#" class="usa-button usa-button-knockout">Firm Overview</a>
        </div>
      </div>
    </div>
  </div>

  <nav role="navigation" class="usa-nav certify-nav">

    <div class="usa-nav-inner">
      <button class="usa-nav-close">
        <img src="{{ site.baseurl }}/assets/img/close.svg" alt="close">
      </button>
      <div class="certify-analyst-nav">
        <div class="usa-grid-full">
          <ul class="usa-nav-primary usa-accordion">
            <li>
              <a class="usa-nav-link" href="#">
                <span>Dashboard</span>
              </a>
            </li>
            <li>
              <button class="
              usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="side-nav-1">
                <span>Cases</span>
              </button>
              <ul id="side-nav-1" class="usa-nav-submenu">
                <li>
                  <a href="#">My Cases</a>
                </li>
                <li>
                  <a href="#">All Cases</a>
                </li>
              </ul>
            </li>
            <li>
              <form class="usa-search usa-search-small">
                <div role="search">
                  <label class="usa-sr-only" for="search-field-small">Search small</label>
                  <input id="search-field-small" type="search" name="search">
                  <button type="submit">
                    <span class="usa-sr-only">Search</span>
                  </button>
                </div>
              </form>
            </li>
            <li>
              <a class="usa-nav-link" href="#">
                <span>Admin</span>
              </a>
            </li>
            <li>
              <a class="usa-nav-link" href="#">
                <span>Notifications</span>
              </a>
            </li>
            <li>
              <button class="
              usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="side-nav-2">
                <span>My Account</span>
              </button>
              <ul id="side-nav-2" class="usa-nav-submenu">
                <li>
                  <a href="#">My Cases</a>
                </li>
                <li>
                  <a href="#">All Cases</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="usa-nav-link" href="#">
                <span>Help</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="certify-application-nav">
        <div class="usa-grid-full">
          <ul class="usa-nav-primary usa-accordion certify-application-nav">
            <li>
              <a class="usa-nav-link" href="#">
                <span>Overview</span>
              </a>
            </li>
            <li>
              <a class="usa-nav-link" href="#">
                <span>Application</span>
              </a>
            </li>
            <li>
              <button class="
              usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="side-nav-1">
                <span>Documents</span>
              </button>
              <ul id="side-nav-1" class="usa-nav-submenu">
                <li>
                  <a href="#">Firm Documents</a>
                </li>
                <li>
                  <a href="#">Analyst Documents</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="usa-nav-link" href="#">
                <span>Notes</span>
              </a>
            </li>
            <li>
              <a class="usa-nav-link" href="#">
                <span>Messages</span>
              </a>
            </li>
            <li>
              <a class="usa-nav-link" href="#">
                <span>Eligibility Assestments</span>
              </a>
            </li>
            <li>
              <a class="usa-nav-link" href="#">
                <span>Activity</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </nav>
</header>
