<header class="context-banner">
  <div class="usa-grid-full">
    <div class="usa-width-two-thirds">
      <h1 class="context-banner__primary-heading">Mike's Garage (000102032)</h1>
      <h2 class="context-banner__secondary-heading">8(a) Initial Application</h2>
    </div>
    <div class="usa-width-one-third">
      <div class="usa-width-one-whole">
        <div class="usa-width-one-third">
          <p>
            <strong>Owner</strong><br>
            Mike Jones <br>
            703-555-3232
          </p>
        </div>
        <div class="usa-width-two-thirds">
          <p>
            <strong>Address</strong><br>
            1234 Mechanic Way Drive. NW<br>
            Kalamazoo, MI 23123
          </p>
        </div>
      </div>
      <div class="context-banner__actions">
      <a href="#" class="usa-button usa-button-knockout">Firm Overview</a>
      </div>
    </div>
  </div>
</header>
