<ul class="usa-sidenav-list navigation-menu" id="js-navigation-menu2">
  <li>
    <a class="{% if page.left_nav_active contains "Overview" %} usa-current {% endif %}" href="#">Overview</a>
  </li>
  <li>
    <a class="{% if page.left_nav_active contains "Application Package" %} usa-current {% endif %}" href="#">Application Package</a>
  </li>
  <li>
    <a class="{% if page.left_nav_active contains "Firm Documents" %} usa-current {% endif %}" href="#">All Firm Documents</a>
  </li>
  <li>
    <a class="{% if page.left_nav_active contains "Internal Documents" %} usa-current {% endif %}" href="#">Internal Documents</a>
  </li>
  <li>
    <a class="{% if page.left_nav_active contains "Analyst Notes" %} usa-current {% endif %}" href="#">Analyst Notes</a>
  </li>
  <li>
    <a class="{% if page.left_nav_active contains "Eligibility Assesment" %} usa-current {% endif %}" href="#">Eligiblity Assesment</a>
  </li>
  <li>
    <a class="{% if page.left_nav_active contains "Messages" %} usa-current {% endif %}" href="#">Messages</a>
  </li>
  <li>
    <a class="{% if page.left_nav_active contains "SAM Snapshot" %} usa-current {% endif %}" href="#">SAM Snapshot</a>
  </li>
  <li>
    <a class="{% if page.left_nav_active contains "Activity Log" %} usa-current {% endif %}" href="#">Activity Log</a>
  </li>
</ul>
