<header class="masthead">
  <div class="usa-navbar certify-navbar">
    <div class="usa-logo certify-logo" id="logo">
      <img alt="certify.SBA.gov logo" src="{{ relative }}assets/img/certify-sba-gov-logo_on-dark.png" />
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
  <div class="usa-grid-full masthead__content">
    <div class="usa-width-one-fourth masthead__content__primary">
      <h1 class="masthead__primary-heading">Mike's Garage</h1>
      <h2 class="masthead__secondary-heading">8(a) Initial Application</h2>
    </div>
    <div class="usa-width-one-sixth masthead__content__secondary">
      <p>
        <strong>Application Status</strong><br>
        Screening Review<br>
        <a href="
        {% if page.change_status_link %}
          {{ page.change_status_link }}
        {% else %}
          #
        {% endif %}">change</a>
      </p>
    </div>
    <div class="usa-width-one-sixth masthead__content__secondary">
      <p>
        <strong>Owner</strong><br>
        Mike Jones <br>
        703-555-3232
      </p>
    </div>
    <div class="usa-width-one-sixth masthead__content__tertiary">
      <a href="#" class="usa-button usa-button-knockout">Firm Info</a>
    </div>
  </div>

  <nav role="navigation" class="usa-nav certify-nav">
    <div class="usa-nav-inner">
      <button class="usa-nav-close">
        <img src="{{ site.baseurl }}/assets/img/close.svg" alt="close">
      </button>

      {% include _analyst_global_nav.html %}

      <div class="certify-local-nav">
        <div class="usa-grid-full">
          <h2 class="certify-local-nav__heading">Mike's Gararage – 8(a) Initial Application</h2>
          <ul class="usa-nav-primary usa-accordion">
            <li>
              <a class="usa-nav-link {% if page.local_nav_active contains "Overview" %} current {% endif %}" href="#">
                <span>Overview</span>
              </a>
            </li>
            <li>
              <a class="usa-nav-link {% if page.local_nav_active contains "Application" %} current {% endif %}" href="#">
                <span>Application</span>
              </a>
            </li>
            <li>
              <button class="
              usa-accordion-button usa-nav-link {% if page.local_nav_active contains "Documents" %} current {% endif %}" aria-expanded="false" aria-controls="side-nav-1">
                <span>Documents</span>
              </button>
              <ul id="side-nav-1" class="usa-nav-submenu">
                <li>
                  <a href="#">Firm Documents</a>
                </li>
                <li>
                  <a href="#">Analyst Documents</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="usa-nav-link {% if page.local_nav_active contains "Notes" %} current {% endif %}" href="#">
                <span>Notes</span>
              </a>
            </li>
            <li>
              <a class="usa-nav-link {% if page.local_nav_active contains "Messages" %} current {% endif %}" href="#">
                <span>Messages</span>
              </a>
            </li>
            <li>
              <a class="usa-nav-link {% if page.local_nav_active contains "Log" %} current {% endif %}" href="#">
                <span>Log</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
