<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<div id="header_nav">
  <header class="usa-header usa-header-extended navigation" role="banner">
    <div class="usa-banner">
      <div class="usa-accordion">
        <header class="usa-banner-header">
          <div class="usa-grid-full">
            <img alt="U.S. flag" src="{{ relative }}assets/uswds/img/us_flag_small.png" />
            <p>An official website of the United States government</p>
            <button aria-controls="gov-banner" aria-expanded="false" class="usa-accordion-button usa-banner-button">
              <span class="usa-banner-button-text">Here's how you know</span>
            </button>
          </div>
        </header>
        <div aria-hidden="true" class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
          <div class="usa-banner-guidance-gov usa-width-one-half">
            <img alt="Dot gov" class="usa-banner-icon usa-media_block-img" src="{{ relative }}assets/uswds/img/icon-dot-gov.svg" />
            <div class="usa-media_block-body">
              <p><strong>The .gov means it’s official.</strong>
                <br />Federal government websites always use a .gov or .mil domain. Before sharing sensitive information online, make sure you’re on a .gov or .mil site by inspecting your browser’s address (or “location”) bar.
              </p>
            </div>
          </div>
          <div class="usa-banner-guidance-ssl usa-width-one-half">
            <img alt="SSL" class="usa-banner-icon usa-media_block-img" src="{{ relative }}assets/uswds/img/icon-https.svg" />
            <div class="usa-media_block-body"><p>This site is also protected by an SSL (Secure Sockets Layer) certificate that’s been signed by the U.S. government. The <strong>https://</strong> means all transmitted data is encrypted &nbsp;— in other words, any information or browsing history that you provide is transmitted securely.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="usa-navbar">
      <button class="usa-menu-btn">Menu</button>
      <div class="usa-logo" id="logo">
        <img alt="certify.SBA.gov logo" src="{{ relative }}assets/img/certify-sba-gov-logo_on-white.png" width="275px" />
      </div>
    </div>
    <nav class="usa-nav navigation" role="navigation">
      <div class="usa-nav-inner">
        <button class="usa-nav-close">
          <img src="/assets/img/close.svg" /></button>
          <ul class="usa-nav-primary usa-accordion">
            <li>
              <a class="usa-nav-link" href="/"><span class="current-top-nav">Home</span></a>
            </li>
            <li>
              <a class="usa-nav-link" href="/prepare"><span>Prepare</span></a>
            </li>
            <li>
              <a class="usa-nav-link" href="/am-i-eligible"><span>Am I eligible?</span></a>
            </li>
            <li>
              <a class="usa-nav-link" href="/help_pages"><span>Help</span></a>
            </li>
          </ul>
          <div class="usa-nav-secondary">
            <ul class="usa-unstyled-list usa-nav-secondary-links">
              <li>
                <a href="https://certify.sba.gov/max_gov" class="usa-button usa-button-knockout fed-login">Federal employees</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </div>

  <script>
    $('.usa-search').addClass('hidden');
      $("#searchtext").click(function () {
      $('.usa-search').removeClass('hidden');
      $('button.usa-header-search-button').remove();
    });
  </script>
