<div class="taskbar-wrap" id="taskbar-wrap">
  <div class="taskbar">
    <div class="taskbar-section">
      <p class="taskbar-section__text">
        <span class="taskbar-section__subhead">Application is in</span> <span data-print="status_text">Screening — Due 06/27/17 <small>(10 days)</small></span>
      </p>
    </div>
    <div class="taskbar-section hide-mobile">
      <p class="taskbar-section__text">
        <span class="taskbar-section__subhead">Application is due</span> <span id="due_date_text">09/13/17</span<>
      </p>
    </div>
    <div class="taskbar-section hide-mobile">
      <p class="taskbar-section__text">
        <span class="taskbar-section__subhead">Currently with</span> <span data-print="reassignment">Chad Roberts (CODS)</span>
      </p>
    </div>
    <div id="recommendations" class="taskbar-section hide-mobile">
      <p class="taskbar-section__text">
        <span class="taskbar-section__subhead">Recommendations</span> <span class="eligible--yes">eligible</span>
        <span class="eligible--no">ineligible</span>
        <span class="eligible--empty"></span>
        <span class="eligible--empty"></span>
      </p>
    </div>
    <div class="taskbar-actions">
      <div class="task-panel" id="screening_task_panel">
        <button type="button" class="usa-button-unstyled task-panel-toggle" aria-expanded="false" aria-controls="task-panel1">actions</button>
        <div id="task-panel1" class="task-panel-content">
          <ul class="task-panel-menu">
            <li class="task-panel-menu__item">
              <a href="{% if page.change_status_link %}
                {{ page.change_status_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link"><strong>Begin processing this case</strong></a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.notes_link %}
                {{ page.notes_link }}?new_note=true
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Add a note</a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.messages_link %}
                {{ page.messages_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Send message to firm</a>
            </li>
            <li class="task-panel-menu__item">
              <a href="#" class="task-panel-menu__link">Return to firm for revisions</a>
            </li>
          </ul>
          <hr>
          <ul class="task-panel-menu">
            <li class="task-panel-menu__item">
              <a href="{% if page.close_case_link %}
                {{ page.close_case_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link--emergency">Close this case</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- DEVNOTE: The ID is only for JS purposes in prototype. DO NOT INCLUDE -->
      <div class="task-panel" id="processing_task_panel">
        <button type="button" class="usa-button-unstyled task-panel-toggle" aria-expanded="false" aria-controls="task-panel1">actions</button>
        <div id="task-panel1" class="task-panel-content">
          <ul class="task-panel-menu">
            <li class="task-panel-menu__item">
              <a href="{% if page.recommendation_link %}
                {{ page.recommendation_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link"><strong>Make a recommendation</strong></a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.assign_link %}
                {{ page.assign_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Assign case</a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.upload_document_link %}
                {{ page.upload_document_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Upload a document</a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.notes_link %}
                {{ page.notes_link }}?new_note=true
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Add a note</a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.refer_link %}
                {{ page.refer_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Refer case within SBA </a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.messages_link %}
                {{ page.messages_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Send message to firm</a>
            </li>
            <li class="task-panel-menu__item">
              <a href="#" class="task-panel-menu__link">Return to firm for revisions</a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.change_due_date_link %}
                {{ page.change_due_date_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Change due date</a>
            </li>
          </ul>
          <hr>
          <ul class="task-panel-menu">
            <li class="task-panel-menu__item">
              <a href="{% if page.close_case_link %}
                {{ page.close_case_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link--emergency">Close this case</a>
            </li>
          </ul>
        </div>
      </div>



      <div class="task-panel" id="sme_task_panel">
        <button type="button" class="usa-button-unstyled task-panel-toggle" aria-expanded="false" aria-controls="task-panel_sme">actions</button>
        <div id="task-panel_sme" class="task-panel-content">
          <ul class="task-panel-menu">
            <li class="task-panel-menu__item">
              <a href="{% if page.return_link %}
                {{ page.return_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link"><strong>Return to analyst</strong></a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.upload_document_link %}
                {{ page.upload_document_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Upload a document</a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.notes_link %}
                {{ page.notes_link }}?new_note=true
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Add a note</a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.refer_link %}
                {{ page.refer_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Refer case within SBA </a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.messages_link %}
                {{ page.messages_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Send message to firm</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {

  if ((typeof sme_review != "undefined") && (sme_review == "true")) {
    $('#screening_task_panel').remove();
    $('#processing_task_panel').remove();
  }
  else if (status == "processing") {
    $('#screening_task_panel').remove();
    $('#sme_task_panel').remove();
  }
  else {
    $('#processing_task_panel').remove();
    $('#sme_task_panel').remove();
  }



  if (typeof recommendation_made == "undefined") {
    $("#recommendations").remove();
  }

  if ((typeof eligiblity != "undefined") && (eligiblity === "Recommend eligible")) {
    $(".eligible--no").remove();
  }

  if ((typeof eligiblity != "undefined") && (eligiblity === "recommend ineligible")) {
    $(".eligible--yes").remove();
  }


  if ((typeof refer != "undefined") && (sme_review == "true") && ((refer === "OIG") ||  (refer === "Size"))) {
    $("#due_date_text").text("Date pending").addClass("usa-color-red-darkest");
  }
});
</script>
