<div class="taskbar-wrap" id="taskbar-wrap">
  <div class="taskbar">
    <div class="taskbar-section">
      <p class="taskbar-section__text">
        <span class="taskbar-section__subhead">Application is in</span> Screening — Due 06/27/17 <small>(10 days)</small>
      </p>
    </div>
    <div class="taskbar-section hide-mobile">
      <p class="taskbar-section__text">
        <span class="taskbar-section__subhead">Application is due</span> 09/13/17
      </p>
    </div>
    <div class="taskbar-section hide-mobile">
      <p class="taskbar-section__text">
        <span class="taskbar-section__subhead">Currently with</span> Chad Roberts (CODS)
      </p>
    </div>
    <div class="taskbar-actions">
      <div class="task-panel">
        <button type="button" class="usa-button-unstyled task-panel-toggle" aria-expanded="false" aria-controls="task-panel1">actions</button>
        <div id="task-panel1" class="task-panel-content">
          <ul class="task-panel-menu">
            <li class="task-panel-menu__item">
              <a href="{% if page.change_status_link %}
                {{ page.change_status_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link"><strong>Begin processing this case</strong></a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.notes_link %}
                {{ page.notes_link }}#new_note
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Add a note</a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.ad_hoc_link %}
                {{ page.ad_hoc_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Request info from firm</a>
            </li>
            <li class="task-panel-menu__item">
              <a href="#" class="task-panel-menu__link">Send message to firm</a>
            </li>
            <li class="task-panel-menu__item">
              <a href="#" class="task-panel-menu__link">Return to firm for revisions</a>
            </li>
          </ul>
          <hr>
          <ul class="task-panel-menu">
            <li class="task-panel-menu__item">
              <a href="#" class="task-panel-menu__link--emergency">Close this case</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
