---
layout: iframe
---

<nav class="sba-c-pagination" role="navigation">
  <div class="sba-c-pagination__forwards">
    <a href="#" class="sba-c-pagination__link" aria-label="Next">
      <svg aria-hidden="true" class="sba-c-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg-sprite/sprite.svg#angle-right"></use>
      </svg>
    </a>
    <a href="#" class="sba-c-pagination__link sba-c-pagination__link--end">
      <svg aria-hidden="true" class="sba-c-icon" aria-label="Last page">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg-sprite/sprite.svg#angle-double-right"></use>
      </svg>
    </a>
  </div>
  <div class="sba-c-pagination__backwards">
    <a href="#" class="sba-c-pagination__link sba-c-pagination__link--end" aria-label="First page">
      <svg aria-hidden="true" class="sba-c-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg-sprite/sprite.svg#angle-double-left"></use>
      </svg>
    </a>
    <a href="#" class="sba-c-pagination__link" aria-label="Back">
      <svg aria-hidden="true" class="sba-c-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg-sprite/sprite.svg#angle-left"></use>
      </svg>
    </a>
  </div>
  <div class="sba-c-pagination__numbers">
    <div class="sba-c-pagination__status" aria-label="Currently on page 3 of 5">3 of 7</div>
    <a href="#" class="sba-c-pagination__link" aria-label="Page 1">1</a>
    <a href="#" class="sba-c-pagination__link" aria-label="Page 2">2</a>
    <div class="sba-c-pagination__link sba-c-pagination__link--current" aria-current="page" aria-label="Page 3 (current page)">3</div>

    <a href="#" class="sba-c-pagination__link" aria-label="Page 4">4</a>
    <a href="#" class="sba-c-pagination__link" aria-label="Page 5">5</a>
    <a href="#" class="sba-c-pagination__link" aria-label="Page 5">6</a>
    <a href="#" class="sba-c-pagination__link" aria-label="Page 5">7</a>
  </div>
</nav>
