---
layout: styleguide
main_section: layout
sub_section: pages
---

<article>
  <h1>Page templates</h1>

  <p>Page templates refer to the main body structure of the page. Using the design system grid, almost any layout is possible. To ensure consistency across the certify.SBA.gov platform, use the snippets below.</p>

  <h2>Single column page</h2>

  <pre><code class="language-markup">&lt;div class="sba-l-container">
  &lt;!-- If using page title -->
  &lt;div class="sba-l-row">
    &lt;div class="sba-l-col--12 sba-u-padding-x--2">
      &lt;h1>[HEADING]&lt;/h1>
    &lt;/div>
  &lt;/div>
  &lt;!-- END page title -->
  &lt;div class="sba-l-row">
    &lt;div class="sba-l-col--12 sba-u-padding-x--2">
      [CONTENT]
    &lt;/div>
  &lt;/div>
&lt;/div></code></pre>

  <h2>Two-column, wide left</h2>

  <h3>Normal sidebar</h3>
  <pre><code class="language-markup">&lt;div class="sba-l-container">
    &lt;!-- If using page title -->
    &lt;div class="sba-l-row">
      &lt;div class="sba-l-col--12 sba-u-padding-x--2">
        &lt;h1>[HEADING]&lt;/h1>
      &lt;/div>
    &lt;/div>
    &lt;!-- END page title -->
    &lt;div class="sba-l-row">
      &lt;div class="sba-l-sm-col--12 sba-l-md-col--golden-lg sba-l-lg-col--8 sba-u-padding-x--2">
        [CONTENT]
      &lt;/div>
      &lt;div class="sba-l-sm-col--12 sba-l-md-col--golden-sm sba-l-lg-col--4 sba-u-padding-x--2 sba-u-lg-padding-left--4">
        [SIDEBAR]
      &lt;div>
    &lt;/div>
  &lt;/div></code></pre>

  <h3>Narrow sidebar</h3>

  <pre><code class="language-markup">&lt;div class="sba-l-container">
    &lt;!-- If using page title -->
    &lt;div class="sba-l-row">
      &lt;div class="sba-l-col--12 sba-u-padding-x--2">
        &lt;h1>[HEADING]&lt;/h1>
      &lt;/div>
    &lt;/div>
    &lt;!-- END page title -->
    &lt;div class="sba-l-row">
      &lt;div class="sba-l-sm-col--12 sba-l-md-col--golden-lg sba-l-lg-col--9 sba-u-padding-x--2 sba-u-lg-padding-right--6">
        [CONTENT]
      &lt;/div>
      &lt;div class="sba-l-sm-col--12 sba-l-md-col--golden-sm sba-l-lg-col--3 sba-u-padding-x--2">
        [SIDEBAR]
      &lt;div>
    &lt;/div>
  &lt;/div></code></pre>

  <h2>Two-column, wide right</h2>

  <h3>Normal sidebar</h3>
  <pre><code class="language-markup">&lt;div class="sba-l-container">
    &lt;!-- If using page title -->
    &lt;div class="sba-l-row">
      &lt;div class="sba-l-col--12 sba-u-padding-x--2">
        &lt;h1>[HEADING]&lt;/h1>
      &lt;/div>
    &lt;/div>
    &lt;!-- END page title -->
    &lt;div class="sba-l-row">
      &lt;div class="sba-l-sm-col--12 sba-l-md-col--golden-sm sba-l-lg-col--4 sba-u-padding-x--2 sba-u-lg-padding-right--4">
        [SIDEBAR]
      &lt;div>
      &lt;div class="sba-l-sm-col--12 sba-l-md-col--golden-lg sba-l-lg-col--8 sba-u-padding-x--2">
        [CONTENT]
      &lt;/div>
    &lt;/div>
  &lt;/div></code></pre>

  <h3>Narrow sidebar</h3>
  <pre><code class="language-markup">&lt;div class="sba-l-container">
    &lt;!-- If using page title -->
    &lt;div class="sba-l-row">
      &lt;div class="sba-l-col--12 sba-u-padding-x--2">
        &lt;h1>[HEADING]&lt;/h1>
      &lt;/div>
    &lt;/div>
    &lt;!-- END page title -->
    &lt;div class="sba-l-row">
      &lt;div class="sba-l-sm-col--12 sba-l-md-col--golden-sm sba-l-lg-col--3 sba-u-padding-x--2">
        [SIDEBAR]
      &lt;div>
      &lt;div class="sba-l-sm-col--12 sba-l-md-col--golden-lg sba-l-lg-col--9 sba-u-padding-x--2 sba-u-lg-padding-left--6">
        [CONTENT]
      &lt;/div>
    &lt;/div>
  &lt;/div></code></pre>

  <p>Page templates use a combination of layout and utility classes, and multiple templates may be used if necessary on a single page when they are stacked on top of each other.</p>
</article>
