---
layout: styleguide
main_section: components
sub_section: breadcrumbs
---

<article>
  <h1>Breadcrumbs</h1>
  <p>
  <a href="https://github.com/USSBA/certify_design_system_gem/blob/master/app/assets/stylesheets/components/_breadcrumbs.scss">CSS file</a>
</p>
  <p>Breadcrumbs are used for keeping track of the user’s location.</p>

  <div class="sample sample--white">
    <ul class="sba-c-breadcrumbs" role="menubar">
      <li class="sba-c-breadcrumbs__item"><a href="#" class="sba-c-breadcrumbs__link">Application overview</a></li>
      <li class="sba-c-breadcrumbs__item"><a href="#" class="sba-c-breadcrumbs__link">Eligibility</a></li>
      <li class="sba-c-breadcrumbs__item">Update your info</li>
    </ul>
  </div>

  <pre><code class="language-markup">&lt;ul class="sba-c-breadcrumbs" role="menubar">
  &lt;li class="sba-c-breadcrumbs__item">
    &lt;a href="#" class="sba-c-breadcrumbs__link">Application overview&lt;/a>
  &lt;/li>
  &lt;li class="sba-c-breadcrumbs__item">
    &lt;a href="#" class="sba-c-breadcrumbs__link">Eligibility&lt;/a>
  &lt;/li>
  &lt;li class="sba-c-breadcrumbs__item">
    Update your info
  &lt;/li>
&lt;/ul></code></pre>

<h2>Guidance</h2>

<ul>
  <li>Do not use breadcrumbs on index pages</li>
  <li>Do not link the current page</li>
</ul>

<h3>When to consider something else</h3>
<ul>
  <li>In any linear process</li>
  <li>When you need to show steps ahead of the current page</li>
</ul>

</article>
