---
layout: styleguide
main_section: components
sub_section: buttons
---

<article>
  <h1>Buttons</h1>
  <p>
  <a href="https://github.com/USSBA/cds-gem-prototype/blob/master/assets/stylesheets/components/_buttons.scss">CSS file</a></p>

  <p>Buttons are used for actions.</p>

  <h2>Primary Buttons</h2>
  <p>Use this for the primary action on a page.</p>
  <div class="sample">
    <button type="button" class="sba-c-button sba-c-button--small">Small</button>
    <button type="button" class="sba-c-button">Default</button>
    <a class="sba-c-button  sba-c-button--big" href="javascript:void(0);">Big</a>
  </div>

  <pre><code class="language-markup">&lt;button type="button" class="sba-c-button sba-c-button--small">Small&lt;/button>
&lt;button type="button" class="sba-c-button">Default&lt;/button>
&lt;a class="sba-c-button  sba-c-button--big" href="javascript:void(0);">Big&lt;/a></code></pre>

  <h2>Inverse Buttons</h2>
  <p>Inverse buttons should be used when there is a secondary action that is very close to the primary action.</p>
  <div class="sample">
    <button type="button" class="sba-c-button sba-c-button--inverse sba-c-button--small">Small</button>
    <button type="button" class="sba-c-button sba-c-button--inverse">Default</button>
    <a class="sba-c-button sba-c-button--inverse  sba-c-button--big" href="javascript:void(0);">Big</a>
  </div>

  <pre><code class="language-markup">&lt;button type="button" class="sba-c-button sba-c-button--inverse sba-c-button--small">Small&lt;/button>
&lt;button type="button" class="sba-c-button sba-c-button--inverse">Default&lt;/button>
&lt;a class="sba-c-button sba-c-button--inverse  sba-c-button--big" href="javascript:void(0);">Big&lt;/a></code></pre>

  <h2>Transparent Buttons</h2>
  <p>Buttons that more closely resemble a link</p>

  <div class="sample">
    <button type="button" class="sba-c-button sba-c-button--small sba-c-button--transparent">Small</button>
    <button type="button" class="sba-c-button sba-c-button--transparent">Default</button>
    <a class="sba-c-button  sba-c-button--big sba-c-button--transparent" href="javascript:void(0);">Big</a>
  </div>


  <h2>Destructive Buttons</h2>
  <div class="sample">
    <button type="button" class="sba-c-button sba-c-button--small sba-c-button--danger">Small</button>
    <button type="button" class="sba-c-button sba-c-button--danger">Default</button>
    <a class="sba-c-button  sba-c-button--big sba-c-button--danger" href="javascript:void(0);">Big</a>
  </div>

  <pre><code class="language-markup">&lt;button type="button" class="sba-c-button sba-c-button--small sba-c-button--danger">Small&lt;/button>
&lt;button type="button" class="sba-c-button sba-c-button--danger">Default&lt;/button>
&lt;a class="sba-c-button  sba-c-button--big sba-c-button--danger" href="javascript:void(0);">Big&lt;/a></code></pre>

  <h2>Success Buttons</h2>

  <div class="sample">
    <button type="button" class="sba-c-button sba-c-button--small sba-c-button--success">Small</button>
    <button type="button" class="sba-c-button sba-c-button--success">Default</button>
    <a class="sba-c-button  sba-c-button--big sba-c-button--success" href="javascript:void(0);">Big</a>
  </div>

  <pre><code class="language-markup">&lt;button type="button" class="sba-c-button sba-c-button--small sba-c-button--success">Small&lt;/button>
&lt;button type="button" class="sba-c-button sba-c-button--success">Default&lt;/button>
&lt;a class="sba-c-button  sba-c-button--big sba-c-button--success" href="javascript:void(0);">Big&lt;/a></code></pre>

  <h2>Disabled Buttons</h2>

  <div class="sample">
    <a href="javascript:void(0);" class="sba-c-button sba-c-button--disabled">Link</a>
    <button disabled class="sba-c-button">Button</button>
    <input disabled type="submit" class="sba-c-button" />
  </div>

  <pre><code class="language-markup">&lt;a href="javascript:void(0);" class="sba-c-button sba-c-button--disabled">Link&lt;/a>
&lt;button disabled class="sba-c-button">Button&lt;/button>
&lt;input disabled type="submit" class="sba-c-button" /></code></pre>

  <h2>Buttons with Icons</h2>

  <ul>
    <li>Add an inline <a href="{{ site.baseurl }}/styleguide/components/icons.html">SVG icon</a> and it will become the same color as the button text.</li>
    <li>Use the <a href="{{ site.baseurl }}/styleguide/utilities/margin.html">margin utility class</a> to add spacing between the icon and button text.</li>
  </ul>

  <div class="sample">
    <button class="sba-c-button">
      <svg aria-hidden="true" class="sba-c-icon sba-u-margin-right--1">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg-sprite/sprite.svg#download"></use>
      </svg>Left icon
    </button>
    <button class="sba-c-button sba-c-button--inverse">
      <svg aria-hidden="true" class="sba-c-icon sba-u-margin-right--1">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg-sprite/sprite.svg#download"></use>
        </svg>Left icon
      </button>
      <button class="sba-c-button ds-c-button--primary">
    Right icon <svg aria-hidden="true" class="sba-c-icon sba-u-margin-left--1">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg-sprite/sprite.svg#arrow-right"></use>
        </svg>
      </svg>
    </button>
    <a class="sba-c-button  sba-c-button--big sba-c-button--danger" href="javascript:void(0);"><svg aria-hidden="true" class="sba-c-icon sba-u-margin-right--1">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg-sprite/sprite.svg#trash"></use>
    </svg>Delete</a>
    <button type="button" class="sba-c-button sba-c-button--inverse sba-c-button--small"><svg aria-hidden="true" class="sba-c-icon sba-u-margin-right--1">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg-sprite/sprite.svg#download"></use>
      </svg>Small</button>
  </div>

  <pre><code class="language-markup">&lt;button class="sba-c-button">
  &lt;svg aria-hidden="true" class="sba-c-icon sba-u-margin-right--1">
    &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg-sprite/sprite.svg#download">&lt;/use>
  &lt;/svg>Left icon
&lt;/button>
&lt;button class="sba-c-button sba-c-button--inverse">
  &lt;svg aria-hidden="true" class="sba-c-icon sba-u-margin-right--1">
    &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg-sprite/sprite.svg#download">&lt;/use>
    &lt;/svg>Left icon
  &lt;/button>
  &lt;button class="sba-c-button ds-c-button--primary">
Right icon &lt;svg aria-hidden="true" class="sba-c-icon sba-u-margin-left--1">
    &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg-sprite/sprite.svg#arrow-right">&lt;/use>
    &lt;/svg>
  &lt;/svg>
&lt;/button>
&lt;a class="sba-c-button  sba-c-button--big sba-c-button--danger" href="javascript:void(0);">&lt;svg aria-hidden="true" class="sba-c-icon sba-u-margin-right--1">
  &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg-sprite/sprite.svg#trash">&lt;/use>
&lt;/svg>Delete&lt;/a>
&lt;button type="button" class="sba-c-button sba-c-button--inverse sba-c-button--small">&lt;svg aria-hidden="true" class="sba-c-icon sba-u-margin-right--1">
  &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg-sprite/sprite.svg#download">&lt;/use>
  &lt;/svg>Small&lt;/button></code></pre>


  <h2>Guidance</h2>

  <ul>
    <li>Use the "primary" button variation for the button most users should click. This is your primary call-to-action.</li>
    <li>Avoid using too many buttons on a page. Aim to use only one button per page.</li>
    <li>Avoid similar styles elsewhere on the page that could be confused for buttons.</li>
    <li>Use buttons for the primary action and links for secondary actions.</li>
  </ul>

  <h3>Label text</h3>

  <ul>
    <li>Use sentence case for button labels.</li>
    <li>Button labels should be as short as possible with “trigger words” that your users will recognize to clearly explain what will happen when the button is clicked (for example, “Save and continue,” “Download” or “Sign up”).</li>
    <li>Make the first word of the button’s label a verb.</li>
    <li>If a button has an icon, it should still have accompanying text describing the action.</li>
  </ul>

  <h3>Destructive Buttons</h3>
  <ul>
    <li>Use the "danger" button variation for destructive buttons. For example, buttons that delete or reset a user's information.</li>
    <li>Confirm the user meant to trigger a destructive action before following through with the action.</li>
    <li>If possible, provide a method for a user to undo a destructive action.</li>
  </ul>

  <h3>Disabled Buttons</h3>

  <ul>
    <li>Don’t disable buttons, unless there’s a good reason to.</li>
    <li>Do not disable buttons to prevent incomplete form submission. Allow the user to make a mistake so the user can see the error message.</li>
    <li>If you do disable a button, make sure it receives the disabled styling. A <code>button</code> element will automatically be styled as a disabled button when it has the disabled HTML attribute, but an <code>a</code> element will need to have the disabled modifier class applied to it.</li>
  </ul>

  <h3>Accessibility</h3>

  <ul>
    <li>Buttons should display a visible focus state when users tab to them.</li>
    <li>Create a button with a <code>button</code> or <code>a</code> element to retain the native click functionality. Avoid using <code>&lt;div></code> or <code>&lt;img></code> tags to create buttons. Screen readers don't automatically know either is a usable button.</li>
    <li>When styling links to look like buttons, remember that screen readers handle links slightly differently than they do buttons. Pressing the <code>Space</code> key triggers a button, but pressing the <code>Enter</code> key triggers a link.</li>
    <li>Dimmed or unavailable buttons should have the disabled attribute applied. This removes native click and keypress events from the button. It also prevents automated scanners from logging a low contrast error. Finally, it announces the button as "dimmed" or "disabled" to screen readers, offering users additional context.</li>
  </ul>

  <h3>When to use</h3>
  <p>Use buttons for the most important actions you want users to take on your site, such as "Start application," "Sign up," or "Save and continue."</p>

  <h3>When to use something else</h3>
  <ul>
    <li>Less popular or less important actions may be visually styled as links.</li>
    <li>Buttons are for performing actions, not making choices. If you need your users to make a choice, use something else like radio buttons. Alternatively, if one choice is much less important then try styling it as a link instead.</li>
  </ul>




</article>
