---
layout: styleguide
main_section: components
sub_section: datepicker
title: Datepicker
---

<article>
  <h1>Datepicker</h1>

  <p><a href="https://github.com/USSBA/certify_design_system_gem/blob/master/app/assets/javascripts/components/datepicker.js" target="_blank">JS File</a></p>

  <p>Date picker is a way to pick dates</p>

  <div class="sample">
    <form action="">
      <label for="date_input" class="sba-c-label sba-u-margin-top--0">Enter a date</label>
      <p class="sba-c-form-hint" id="date_input_hint">For example, MM/DD/YYYY</p>
      <input type="date" id="date_input" class="sba-c-input" aria-describedby="date_input_hint" pattern="(0[1-9]|1[012])\s?.\s?(0[1-9]|1[0-9]|2[0-9]|3[01])\s?.\s?[0-9]{4}" required />
      <button type="submit">Validate</button>
    </form>
  </div>

  <pre><code class="language-markup">&lt;label for="date_input" class="sba-c-label">Enter a date&lt;/label>
&lt;p class="sba-c-form-hint" id="date_input_hint">For example, MM/DD/YYYY&lt;/p>
&lt;input type="date" id="date_input" class="sba-c-input" aria-describedby="date_input_hint" pattern="(0[1-9]|1[012]).(0[1-9]|1[0-9]|2[0-9]|3[01]).[0-9]{4}" required /></pre></code>

  <h2>Guidance</h2>
  <p>The date input does not have a wide range of <a href="https://caniuse.com/#search=date" target="_blank">browser support</a>. For browsers that do not support the <code>date</code> input, the fallback is a <code>text</code> field that is recieves formatting as the user types.</p>
  <ul>
    <li>You must use a form hint with an <code>id</code>. The form input must use an <code>aria-describedby</code> attribute to refer back to the hint's <code>id</code>. This provides context in an accessible way as a fallback to browsers that do not support <code>date</code> inputs.</li>
    <li>The <code>patter</code> attribute provides client-side validation. However, you must <strong>always</strong> use server-side validation.</li>
    <li>Do not use the <code>input-width</code> utility on <code>&lt;input type="date"></code> because the spinner and calendar dropdown cuts off the date in Chrome.</li>
    <li>Avoid using <code>min</code> and <code>max</code> attributes on the date picker, as <a href="http://html5doctor.com/the-woes-of-date-input/" target="_blank">some browsers have difficulty interpreting them</a> on <code>date</code> inputs. If you need code>min</code> and <code>max</code> attributes, see the example below.</li>
  </ul>

  <h3>Other considerations</h3>
  <ul>
    <li>See note above about code>min</code> and <code>max</code> attributes. This could make selecting a date range difficult.</li>
    <li><code>&lt;input type="date"></code> is not supported in Safari or IE. Instead, the browser will treat as a <code>text</code> input (though formatted with JS).</li>
    <li>Mobile browsers may have a scrollwheel implementation for <code>&lt;input type="date"></code>, and keyboard entry not be available.</li>
  </ul>

  <h2>Date as formatted text field</h2>
  <p>If you need to have <code>min</code> and <code>max</code> attributes, an alternative is available. If that is the case, use a text input. This is also an example of how a date field would funtion on a browser that does not support the <code>date</code> input.</p>

  <p>In this instance, if you add a class name of <code>js-format-as-date</code> to a <code>text</code> field, the input will be automatically formatted as the user types.</p>


  <div class="sample">
    <form action="">
      <label for="date_input2" class="sba-c-label">Enter a date</label>
      <p class="sba-c-form-hint" id="date_input_hint2">For example, MM/DD/YYYY</p>
      <input type="text" id="date_input2" class="sba-c-input sba-u-input-width--16 js-format-as-date" aria-describedby="date_input_hint2" pattern="(0[1-9]|1[012])\s?/\s?(0[1-9]|1[0-9]|2[0-9]|3[01])\s?/\s?[0-9]{4}" required />
      <button type="submit">Validate</button>
    </form>
  </div>
  <pre><code class="language-markup">&lt;label for="date_input2" class="sba-c-label sba-u-margin-top--0">Enter a date&lt;/label>
&lt;p class="sba-c-form-hint" id="date_input_hint2">For example, MM/DD/YYYY&lt;/p>
&lt;input type="text" id="date_input2" class="sba-c-input sba-u-input-width--16 js-format-as-date" aria-describedby="date_input_hint2" pattern="(0[1-9]|1[012])\s?.\s?(0[1-9]|1[0-9]|2[0-9]|3[01])\s?.\s?[0-9]{4}" required /></pre></code>


  <script>
    $(document).ready(function() {
      $('button[type="submit"]').on('click', function() {
        var form = $(this).closest('form');
        validateFields(form);
        if (!has_validation_errors) {
          alert('valid')
        }
        return false;
      });
    });
  </script>
</article>
