---
layout: styleguide
main_section: components
sub_section: doc_card
title: Document card
---

<article>
  <span class="sba-c-badge sba-c-badge--warn">Draft</span>
  <h1>Document card</h1>
  <p>
    <a href="https://github.com/USSBA/certify_design_system_gem/blob/master/app/assets/javascripts/components/doc-card.js">JS file</a>
  </p>
  <p>Document card provides a pattern for displaying a list of documents with a way to view expanded information</p>
  <h4>Example</h4>
  <div class="sample sample--white">
    <div class="sba-c-doc-upload-container">
      <div class="sba-c-card sba-u-display--block sba-u-padding-y--2 sba-u-padding-x--1">
        <div class="sba-c-container sba-u-padding-x--2">
          <div class="sba-l-row sba-u-align-items--center sba-u-margin-bottom--1">
            <div class="sba-l-col--4">
              <h3 class="sba-u-margin-top--0 sba-u-margin-bottom--1 sba-u-md-margin-bottom--0"><a href="#">Driver's License</a></h3>
              <p class="sba-u-color--muted sba-u-font-size--small sba-u-padding--0 sba-u-margin--0">Updated 08/08/18</p>
            </div>
            <div class="sba-l-col--2">
                <p class="sba-u-margin--0 sba-u-color--muted sba-u-font-size--small">Added for</p>
                <p class="sba-u-margin--0 sba-u-color--base">Bob Smith</p>
            </div>
            <div class="sba-l-col--2">
                <p class="sba-u-margin--0 sba-u-color--muted sba-u-font-size--small">Added by</p>
                <p class="sba-u-margin--0 sba-u-color--base">Bob Smith</p>
            </div>
            <div class="sba-l-col--4 sba-u-md-text-align--right">
              <button class="sba-c-button sba-c-button--transparent sba-c-doc__toggle sba-u-padding-right--0" type="button" title="remove" aria-expanded="false" aria-controls="doc1"><svg aria-hidden="true" class="sba-c-icon sba-u-margin-right--1">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg-sprite/sprite.svg#angle-down"></use>
              </svg></button>
            </div>
          </div>
          <div id="doc1" class="sba-u-padding-top--1" style="display: none;">
            <div class="sba-l-row">
              <div class="sba-l-col--6 sba-l-sm-col--12 sba-l-lg-col--6">
                <p class="sba-u-margin--0 sba-u-color--muted sba-u-font-size--small">Description</p>
                <p class="sba-u-margin--0 sba-u-color--base">These are my tax returns. I hope it’s okay. Please let me know if if it’s okay. Everything is included and it was prepared by a CPA</p>
              </div>
              <div class="sba-l-col--3 sba-l-sm-col--12 sba-l-lg-col--3">
                <p class="sba-u-margin--0 sba-u-color--muted sba-u-font-size--small">Category</p>
                <p class="sba-u-margin--0 sba-u-color--base">Proof of residency</p>
              </div>
              <div class="sba-l-col--3 sba-l-sm-col--12 sba-l-lg-col--3">
                <p class="sba-u-margin--0 sba-u-color--muted sba-u-font-size--small">File attachment</p>
                <p class="sba-u-margin--0 sba-u-color--base">bob_license12312.pdf</p>
              </div>
            </div>
            <div class="sba-l-row sba-u-justify-content--end">
              <button class="sba-c-button sba-c-button--small"><svg aria-hidden="true" class="sba-c-icon sba-u-margin-right--1">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg-sprite/sprite.svg#edit"></use>
              </svg>Manage document</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <pre><code class="language-markup">
  <!-- Markup example -->
&lt;div class="sba-c-card sba-u-display--block sba-u-padding-y--2 sba-u-padding-x--1">
        &lt;div class="sba-c-container sba-u-padding-x--2">
          &lt;div class="sba-l-row sba-u-align-items--center sba-u-margin-bottom--1">
            &lt;div class="sba-l-col--4">
              &lt;h3 class="sba-u-margin-top--0 sba-u-margin-bottom--1 sba-u-md-margin-bottom--0">&lt;a href="#">Driver's License&lt;/a>&lt;/h3>
              &lt;p class="sba-u-color--muted sba-u-font-size--small sba-u-padding--0 sba-u-margin--0">Updated 08/08/18&lt;/p>
            &lt;/div>
            &lt;div class="sba-l-col--2">
                &lt;p class="sba-u-margin--0 sba-u-color--muted sba-u-font-size--small">Added for&lt;/p>
                &lt;p class="sba-u-margin--0 sba-u-color--base">Bob Smith&lt;/p>
            &lt;/div>
            &lt;div class="sba-l-col--2">
                &lt;p class="sba-u-margin--0 sba-u-color--muted sba-u-font-size--small">Added by&lt;/p>
                &lt;p class="sba-u-margin--0 sba-u-color--base">Bob Smith&lt;/p>
            &lt;/div>
            &lt;div class="sba-l-col--4 sba-u-md-text-align--right">
              &lt;button class="sba-c-button sba-c-button--transparent sba-c-doc__toggle sba-u-padding-right--0" type="button" title="remove" aria-expanded="false" aria-controls="doc1">&lt;svg aria-hidden="true" class="sba-c-icon sba-u-margin-right--1">
                &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg-sprite/sprite.svg#angle-down">&lt;/use>
              &lt;/svg>&lt;/button>
            &lt;/div>
          &lt;/div>
          &lt;div id="doc1" class="sba-u-padding-top--1" style="display: none;">
            &lt;div class="sba-l-row">
              &lt;div class="sba-l-col--6 sba-l-sm-col--12 sba-l-lg-col--6">
                &lt;p class="sba-u-margin--0 sba-u-color--muted sba-u-font-size--small">Description&lt;/p>
                &lt;p class="sba-u-margin--0 sba-u-color--base">These are my tax returns. I hope it’s okay. Please let me know if if it’s okay. Everything is included and it was prepared by a CPA&lt;/p>
              &lt;/div>
              &lt;div class="sba-l-col--3 sba-l-sm-col--12 sba-l-lg-col--3">
                &lt;p class="sba-u-margin--0 sba-u-color--muted sba-u-font-size--small">Category&lt;/p>
                &lt;p class="sba-u-margin--0 sba-u-color--base">Proof of residency&lt;/p>
              &lt;/div>
              &lt;div class="sba-l-col--3 sba-l-sm-col--12 sba-l-lg-col--3">
                &lt;p class="sba-u-margin--0 sba-u-color--muted sba-u-font-size--small">File attachment&lt;/p>
                &lt;p class="sba-u-margin--0 sba-u-color--base">bob_license12312.pdf&lt;/p>
              &lt;/div>
            &lt;/div>
            &lt;div class="sba-l-row sba-u-justify-content--end">
              &lt;button class="sba-c-button sba-c-button--small">&lt;svg aria-hidden="true" class="sba-c-icon sba-u-margin-right--1">
                &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg-sprite/sprite.svg#edit">&lt;/use>
              &lt;/svg>Manage document&lt;/button>
            &lt;/div>
          &lt;/div>
        &lt;/div>
      &lt;/div>
  </code></pre>
  <h2>Guidance</h2>
  <ul>
    <li>It's best to keep it in a container no wider than <code>75rem</code></li>
  </ul>
</article>
