<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  <head>
    <title>Editable tables | Certify Design System Documentation</title>
<meta name="viewport" content="width=device-width">
<meta name="robots" content="noindex">





<link rel="stylesheet" href="../assets/stylesheets/application.css">
<link rel="stylesheet" href="../assets/cds.css">

<script src="../assets/javascripts/application.js"></script>
<script src="../assets/cds.js"></script>

<meta name="robots" content="noindex">

    <link rel="stylesheet" href="../assets/stylesheets/prototype/vendor/prism.css">
    <script src="../assets/javascripts/vendor/prism.js"></script>
  </head>
  <body class="styleguide">

    <header class="styleguide-masthead">
      <div class="sba-l-container sba-l-container--fullbleed">
        <div class="sba-l-row">
          <div class="sba-l-col--12 sba-u-padding-x--2">
            <a href="/certify-design-system-documentation/">
              <img class="styleguide-masthead__logo" alt="certify.SBA.gov logo" src="../assets/img/certify-sba-gov-logo_on-dark.png" />
            </a>
          </div>
        </div>
      </div>
    </header>

    <div class="sba-l-container sba-l-container--fullbleed sba-u-padding-bottom--7">
      <div class="sba-l-row">
        <div class="sba-l-sm-col--12 sba-l-md-col--4 sba-l-lg-col--3 sba-l-xl-col--2 sba-u-padding-x--2 sba-u-margin-bottom--5 sba-u-md-margin-bottom--0">
          <ul class="usa-sidenav-list">
            <li>
              <a class="" href="/certify-design-system-documentation/">Introduction</a>
            </li>
            <li>
              <button type="button" class="usa-sidenav-list-button " aria-collapsed="true" aria-controls="sublist_layout">
                Layout
                <svg aria-hidden="true" class="sba-c-icon icon-when-closed">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/certify-design-system-documentation/assets/svg-sprite/sprite.svg#angle-down"></use>
                </svg>
                <svg aria-hidden="true" class="sba-c-icon icon-when-open">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/certify-design-system-documentation/assets/svg-sprite/sprite.svg#angle-up"></use>
                </svg>
              </button>
              <ul class="usa-sidenav-sub_list" id="sublist_layout">
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/layout/content-wrappers.html">Content wrappers</a>
                  </li>
                  
                
                  
                
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/layout/grid.html">Grid</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/layout/page-templates.html">Page templates</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/layout/spacing.html">Spacing</a>
                  </li>
                  
                
              </ul>
            </li>
            <li>
              <button type="button" class="usa-sidenav-list-button  is-open usa-current " aria-collapsed="false
              " aria-controls="sublist_components">
                Components
                <svg aria-hidden="true" class="sba-c-icon icon-when-closed">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/certify-design-system-documentation/assets/svg-sprite/sprite.svg#angle-down"></use>
                </svg>
                <svg aria-hidden="true" class="sba-c-icon icon-when-open">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/certify-design-system-documentation/assets/svg-sprite/sprite.svg#angle-up"></use>
                </svg>
              </button>
              <ul class="usa-sidenav-sub_list" id="sublist_components">
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/accordions.html">Accordions</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/alerts.html">Alerts</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/badges.html">Badges</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/breadcrumbs.html">Breadcrumbs</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/button-group.html">Button group</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/buttons.html">Buttons</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/combobox.html">Combo box</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/datepicker.html">Datepicker</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/document-upload.html">Document upload</a>
                  </li>
                  
                
                  
                  <li>
                      <a class=" usa-current " href="/certify-design-system-documentation/components/editable-tables.html">Editable tables</a>
                  </li>
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/faceting.html">Faceting</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/footer.html">Footer</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/forms.html">Forms</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/guidances.html">Guidances</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/icons.html">Icons</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/lists.html">Lists</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/masthead.html">Masthead</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/messages.html">Messages</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/pagination.html">Pagination</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/pop-ups.html">Pop-ups</a>
                  </li>
                  
                
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/spinners.html">Spinners</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/table-of-contents.html">Table of contents</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/tables.html">Tables</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/tabs.html">Tabs</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/task-panels.html">Task panels</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/tooltips.html">Tooltips</a>
                  </li>
                  
                
              </ul>
            </li>

            <li>
              <button type="button" class="usa-sidenav-list-button " aria-collapsed="true" aria-controls="sublist_patterns">
                Patterns
                <svg aria-hidden="true" class="sba-c-icon icon-when-closed">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/certify-design-system-documentation/assets/svg-sprite/sprite.svg#angle-down"></use>
                </svg>
                <svg aria-hidden="true" class="sba-c-icon icon-when-open">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/certify-design-system-documentation/assets/svg-sprite/sprite.svg#angle-up"></use>
                </svg>
              </button>
              <ul class="usa-sidenav-sub_list" id="sublist_patterns">
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/patterns/card-patterns.html">Card Patterns</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/patterns/notes.html">Notes Pop-up</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/patterns/questions.html">Questions</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/patterns/recommendations.html">Recommendations and Determinations</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/patterns/show-hide.html">Show/Hide content</a>
                  </li>
                  
                
              </ul>
            </li>

            <li>
              <button type="button" class="usa-sidenav-list-button " aria-collapsed="true" aria-controls="sublist_utilities">
                Utilities
                <svg aria-hidden="true" class="sba-c-icon icon-when-closed">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/certify-design-system-documentation/assets/svg-sprite/sprite.svg#angle-down"></use>
                </svg>
              <svg aria-hidden="true" class="sba-c-icon icon-when-open">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/certify-design-system-documentation/assets/svg-sprite/sprite.svg#angle-up"></use>
              </svg>
              </button>
                <ul class="usa-sidenav-sub_list" id="sublist_utilities">
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/background-color.html">Background color</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/borders.html">Borders</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/color.html">Color</a>
                    </li>
                    
                  
                    
                  
                    
                  
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/flexbox.html">Flexbox</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/font-size.html">Font size</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/font-weight.html">Font weight</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/inputs.html">Inputs</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/margin.html">Margin</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/measure.html">Measure</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/padding.html">Padding</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/separators.html">Separators</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/text-alignment.html">Text alignment</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/text-decoration.html">Text-decoration</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/visibility.html">Visibility</a>
                    </li>
                    
                  
                </ul>
              </li>
              <li>
                <a class="" href="/certify-design-system-documentation/releases.html">Release notes</a>
              </li>
            </ul>
        </div>
        <div class="sba-l-sm-col--12 sba-l-md-col--8 sba-u-md-padding-x--4 sba-l-lg-col--9 sba-l-xl-col--10 sba-u-padding-x--2 sba-u-lg-padding-x--7">
        <article>
<h1>
  <h1>Editable tables </h1>
  <p>
  <a href="https://github.com/USSBA/certify_design_system_gem/blob/master/app/assets/stylesheets/components/_tables.scss">CSS file</a> | <a href="https://github.com/USSBA/certify_design_system_gem/blob/master/app/assets/javascripts/components/editable-tables.js">JS file</a> | <a href="https://github.com/USSBA/certify_design_system_gem/blob/master/app/assets/javascripts/components/validations.js">Validations</a>
  </p>

  <p>For the questionnaire, some <a href="tables.html">tables</a> can be edited. Editable tables can include any number of columns, and columns have the option to be summated.</p>

  <div class="sample">
    <form action="#">
    <table class="sba-c-table sba-c-table--editable" id="table1" aria-live="polite" aria-atomic="true">
      <caption>Payments and excessive withdrawals</caption>
      <thead>
        <tr>
          <th scope="col" data-required="true" data-custom-id="Name">Name</th>
          <th scope="col" data-required="true" data-custom-id="Title">Title</th>
          <th scope="col" class="js-sum" data-info-type="percent" data-required="true" data-pattern="[0-9]*" data-custom-id="Equity Interest" data-min="0" data-max="100">Equity Interest</th>
          <th scope="col" data-hint-text="This is optional" data-custom-id="Reason">Reasons for Payment</th>
          <th scope="col" class="js-sum" data-info-type="usd" data-required="true" data-custom-id="Total Payments" data-min="0">Total Payments</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
        <tbody>
          <tr id="table1_tr0_data">
            <th colspan="6"><em>No items added yet</em></th>
          </tr>
        </tbody>
    </table>
    <button type="button" class="sba-c-button" id="table1_add_item">Add item</button>
    </form>
  </div>

  <p>See the same example along different breakpoints.</p>

  <div class="sg-responsive-preview">
    <div class="sg-responsive-preview__size-buttons">
      <button class="sg-responsive-preview__size-button" type="button" data-size="320">
        XS
      </button>
      <button class="sg-responsive-preview__size-button" type="button" data-size="544">
        SM
      </button>
      <button class="sg-responsive-preview__size-button" type="button" data-size="768">
        MD
      </button>
      <button class="sg-responsive-preview__size-button is-current" type="button" data-size="1024">
        LG
      </button>
      <button class="sg-responsive-preview__size-button" type="button" data-size="1280">
        XL
      </button>
    </div>
    <div class="iframe__preview">
      <iframe title="Pagination example" class="responsive-iframe" src="examples/editable-table.html" data-width="1024"  allowfullscreen="true" allowtransparency="true" height="300"></iframe>
    </div>
  </div>

  <pre><code class="language-markup">&lt;table class="sba-c-table sba-c-table--editable" id="table1" aria-live="polite" aria-atomic="true">
  &lt;caption>Payments and excessive withdrawals&lt;/caption>
  &lt;thead>
    &lt;tr>
      &lt;th scope="col" data-required="true" data-custom-id="Name">Name&lt;/th>
      &lt;th scope="col" data-required="true" data-custom-id="Title">Title&lt;/th>
      &lt;th scope="col" class="js-sum" data-info-type="percent" data-required="true" data-pattern="[0-9]*" data-custom-id="Equity Interest" data-min="0" data-max="100">Equity Interest&lt;/th>
      &lt;th scope="col" data-hint-text="This is optional" data-custom-id="Reason">Reasons for Payment&lt;/th>
      &lt;th scope="col" class="js-sum" data-info-type="usd" data-required="true" data-custom-id="Total Payments" data-min="0">Total Payments&lt;/th>
      &lt;th scope="col">Actions&lt;/th>
    &lt;/tr>
  &lt;/thead>
  &lt;tbody>
    &lt;tr id="table1_tr0_data">
      &lt;th colspan="6">&lt;em>No items added yet&lt;/em>&lt;/th>
    &lt;/tr>
  &lt;/tbody>
&lt;/table>
&lt;button type="button" class="sba-c-button" id="table1_add_item">Add item&lt;/button></code></pre>

  <h3>Guidance</h3>

  <p>The example shows the basic requirements for creating an editable table. Tables will need to have the following items:</p>

  <ul>
    <li>Class names of <code>sba-c-table</code> and <code>sba-c-table--editable</code></li>
    <li>An ID</li>
    <li>A table row to show a null state with an ID following the convention <code>[TABLE_ID]_tr0_data</code>. This table row must also include a <code>th</code> with a <code>colspan</code> that matches the total number of columns in the table.</li>
    <li>An actions column</li>
    <li>A button with an ID using a naming convention of <code>[TABLE_ID]_add_item</code>.</li>
  </ul>

  <h3>Options</h3>
  <p>The table has a few options for performing validation, summation, form hints, and other types of customization.</p>

  <h4>Customizing input IDs</h4>
  <p>Form fields in the table will generally have iteratable, generic IDs, such as <code>[TABLE_ID]_tr0_field1</code>. If you'd like to add some context to an <code>id</code>, place a <code>data-custom-id</code> attribute in the cell’s corresponding <code>thead th</code>.</p>

  <ul>
    <li>Use characters that are only valid in an ID attribute</li>
    <li>Spaces will be converted to underscores</li>
  </ul>

  <p>When a custom id is applied, the input <code>id</code> is structured as <code>[TABLE_ID]_tr0_field1_[CUSTOM_ID]</code></p>

  <h4>Using input ornaments</h4>
  <p>Editable tables can use special <a href="forms.html#input-ornaments">input ornaments</a> when the user adds or edits a row. Input ornaments can be used for $USD or %. When using input ornaments, the script will automatically apply a '%' or '$' to the table cell.</p>

  <ul>
    <li>To get a text field to appear as $USD, add the attribute <code>data-info-type="usd"</code> to the corresponding <code>thead th</code>. This will create a <code>number</code> input.</li>
    <li>To get a text field to appear as %, add the attribute <code>data-info-type="percent"</code> to the corresponding <code>thead th</code>.  This will create a <code>number</code> input.</li>
  </ul>

  <h4>Validation</h4>
  <p>It is possible to check validation on the form fields within the table. While front-end validation can improve user experience, <strong>front-end validation should NEVER be a substitute for server-side validation</strong>.

  <p>Validation can be be peformed upon:</p>
  <ul>
    <li>
      <strong>Required fields:</strong> <br> To use validation on required fields, add the attribute <code>data-required="true"</code> to the corresponding <code>thead th</code>.
    </li>
    <li>
      <strong>Patterns:</strong> <br> To validate for a pattern / trigger certain keyboards on mobile devices, use the attribute <code>data-pattern</code> to the field’s corresponding <code>thead th</code> and place the pattern you like to use as the value. Example: <code>data-pattern="[0-9]*"</code>.
    </li>
    <li>
      <strong>Min:</strong> <br> To validate for a minimum value, use the attribute <code>data-min</code> to the field’s corresponding <code>thead th</code>. Example: <code>data-min="0"</code>. This will convert the input type to <code>number</code>.
    </li>
    <li>
      <strong>Max:</strong> <br> To validate for a maximum value, use the attribute <code>data-max</code> to the field’s corresponding <code>thead th</code>. Example: <code>data-max="100"</code>. This will convert the input type to <code>number</code>.
    </li>
    <li>
      <strong>Minlength:</strong> <br> To validate for a minimum number of characters, use the attribute <code>data-minlength</code> to the field’s corresponding <code>thead th</code>. Example: <code>data-minlength="3"</code>.
    </li>
    <li>
      <strong>Maxlength:</strong> <br> To validate for a maximum number of characters, use the attribute <code>data-maxlength</code> to the field’s corresponding <code>thead th</code>. Example: <code>data-maxlength="20"</code>.
    </li>
  </ul>

  <h4>Hint text</h4>
  <p>To place hint text between the form label and the input, write it the value of a <code>data-hint-text</code> data attribute on the corresponding column‘s <code>thead th</code>. Data hints are optional, but can provide necessary context.</p>

  <h4>Summating columns</h4>
  <p>Table columns can be summated by adding a class name of <code>js-sum</code> to the table column you would like to calculate. If an instance of <code>js-sum</code> is present, a table footer is automatically created after the first item is added after first row is created.</p>

  <h4>Other guidance</h4>
  <ul>
    <li>Editable tables are not to be sortable.</li>
    <li>Tables are formatted for mobile web</li>
  </ul>

</article>

        </div>
      </div>
    </div>
    <footer role="contentinfo">
      <nav class="sba-u-border-y--1">
        <div class="sba-l-container">
          <div class="sba-l-row">
            <div class="sba-l-col--12 sba-l-md-col--3 sba-l-lg-col--2 sba-u-margin-right--4 sba-u-md-padding-y--3 sba-u-padding-y--2">
              <a class="sba-u-font-weight--bold sba-u-color--base sba-u-text-decoration--none" href="http://sba.gov/contracting" target="_blank">SBA.gov/contracting</a>
            </div>
            <div class="sba-l-col--12 sba-l-md-col--3 sba-l-lg-col--2 sba-u-margin-right--4 sba-u-md-padding-y--3 sba-u-padding-y--2">
              <a class="sba-u-font-weight--bold sba-u-color--base sba-u-text-decoration--none" href="http://whitehouse.gov/" target="_blank">WhiteHouse.gov</a>
            </div>
            <div class="sba-l-col--12 sba-l-md-col--3 sba-l-lg-col--2 sba-u-margin-right--4 sba-u-md-padding-y--3 sba-u-padding-y--2">
              <a class="sba-u-font-weight--bold sba-u-color--base sba-u-text-decoration--none" href="http://regulations.gov/" target="_blank">Regulations.gov</a>
            </div>
            <div class="sba-l-col--12 sba-l-md-col--3 sba-l-lg-col--2 sba-u-margin-right--4 sba-u-md-padding-y--3 sba-u-padding-y--2">
              <a class="sba-u-font-weight--bold sba-u-color--base sba-u-text-decoration--none" href="https://business.usa.gov/" target="_blank">BusinessUSA.gov</a>
            </div>
            <div class="sba-l-col--12 sba-l-md-col--3 sba-l-lg-col--2 sba-u-margin-right--4 sba-u-md-padding-y--3 sba-u-padding-y--2">
              <a class="sba-u-font-weight--bold sba-u-color--base sba-u-text-decoration--none" href="http://usa.gov/" target="_blank">USA.gov</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="sba-l-container">
        <div class="sba-l-row">
          <div class="sba-l-col--12 sba-l-md-col--6 sba-u-padding-y--3 sba-u-md-padding-y--5">
            <a href="http://www.sba.gov" target="_blank">
              <img alt="U.S. Small Business Administration logo" width="300px" src="/certify-design-system-documentation/assets/img/sba-logo.png">
            </a>
          </div>
          <div class="sba-l-col--12 sba-l-md-col--6 sba-u-display--flex sba-u-flex-direction--column sba-u-md-align-items--flex-end  sba-u-md-padding-y--3">
            <div class="sba-footer-social_links">
              <a class="sba-u-text-decoration--none" href="https://www.facebook.com/SBAgov" target="_blank" title="Follow certify.SBA.gov on facebook!">
                <img alt="facebook logo icon" src="/certify-design-system-documentation/assets/img/facebook.png" width="38px">
              </a>
              <a class="sba-u-text-decoration--none" href="https://www.twitter.com/sbagov" target="_blank" title="Follow certify.SBA.gov on twitter!">
                <img alt="twitter logo icon" src="/certify-design-system-documentation/assets/img/twitter.png" width="38px">
              </a>
              <a class="sba-u-text-decoration--none" href="https://www.youtube.com/c/sbagov" target="_blank" title="Follow certify.SBA.gov on YouTube!">
                <img alt="youtube logo icon" src="/certify-design-system-documentation/assets/img/youtube.png" width="38px">
              </a>
            </div>
            <h3 class="sba-u-margin-top--1">Contact SBA</h3>
            <a href="mailto:help@certify.sba.gov">help@certify.sba.gov</a>
          </div>
        </div>
      </div>
      <div class="sba-footer-dev-notes sba-u-padding-y--1 sba-u-border-top--1 sba-u-margin-top--4 sba-u-md-margin-top--0">
        <div class="sba-l-container">
        </div>
      </div>
    </footer>
  </body>
</html>
