---
layout: styleguide
main_section: components
sub_section: forms
---

<article>
  <h1>Forms</h1>
  <p><a href="https://github.com/USSBA/cds-gem-prototype/blob/master/assets/stylesheets/components/_forms.scss">CSS file</a> | <a href="https://github.com/USSBA/cds-gem-prototype/blob/master/assets/js/components/follow-ups.js">JS file</a></p>



  <h2>Inputs</h2>
  <p>To avoid conflicts with legacy code and improve symantec markup, the Certify design system recommends making the writing forms differently by putting inputs into <code>sba-c-field-list</code>.</p>

  <h3 id="input-ornaments">Input ornaments</h3>
  <p>Use icons as ornaments to provide context about the type of information requested from the user.</p>

  <div class="sample">
    <ul class="sba-c-field-list">
      <li>
        <label for="input1">Enter dollar amount</label>
        <div class="sba-c-input-ornament-container">
          <div class="sba-c-input-ornament sba-c-input-ornament--left">
            <svg aria-hidden="true" class="sba-c-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#dollar-sign"></use>
            </svg>
          </div>
          <input type="text" id="input1" class="sba-u-input-width--7">
        </div>
      </li>
      <li>
        <label for="input2">Enter percent</label>
        <div class="sba-c-input-ornament-container">
          <div class="sba-c-input-ornament sba-c-input-ornament--right">
            <svg aria-hidden="true" class="sba-c-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#percent"></use>
            </svg>
          </div>
          <input type="number" id="input2" class="sba-u-input-width--3">
        </div>
      </li>
      <li>
        <label for="input3">Create a tag</label>
        <div class="sba-c-input-ornament-container">
          <div class="sba-c-input-ornament sba-c-input-ornament--left">
            <svg aria-hidden="true" class="sba-c-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#tag"></use>
            </svg>
          </div>
          <input type="text" id="input3">
        </div>
      </li>
    </ul>
  </div>

  <pre><code class="language-markup">&lt;ul class="sba-c-field-list">
  &lt;li>
    &lt;label for="input1">Enter dollar amount&lt;/label>
    &lt;div class="sba-c-input-ornament-container">
      &lt;div class="sba-c-input-ornament sba-c-input-ornament--left">
        &lt;svg aria-hidden="true" class="sba-c-icon">
          &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#dollar-sign">&lt;/use>
        &lt;/svg>
      &lt;/div>
      &lt;input type="text" id="input1" class="sba-u-input-width--7">
    &lt;/div>
  &lt;/li>
  &lt;li>
    &lt;label for="input2">Enter percent&lt;/label>
    &lt;div class="sba-c-input-ornament-container">
      &lt;div class="sba-c-input-ornament sba-c-input-ornament--right">
        &lt;svg aria-hidden="true" class="sba-c-icon">
          &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#percent">&lt;/use>
        &lt;/svg>
      &lt;/div>
      &lt;input type="number" id="input2" class="sba-u-input-width--3">
    &lt;/div>
  &lt;/li>
  &lt;li>
    &lt;label for="input3">Create a tag&lt;/label>
    &lt;div class="sba-c-input-ornament-container">
      &lt;div class="sba-c-input-ornament sba-c-input-ornament--left">
        &lt;svg aria-hidden="true" class="sba-c-icon">
          &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#tag">&lt;/use>
        &lt;/svg>
      &lt;/div>
      &lt;input type="text" id="input3">
    &lt;/div>
  &lt;/li>
&lt;/ul></pre></code>

  <h2 id="follow-ups">Follow-ups</h2>
  <p>Follow-ups are items that are dependent upon selecting a specific answer to another question. Those items may include additional fields, document prompts, tables, or text… or anything that can be placed inside of a <code>div</code>.</p>

  <p>While a follow-up is hidden, it will be also be unavailable to screen readers or any devices for non-visual users. All fields are also <code>disabled</code> to prevent any information from being uploaded to the server.</p>

  <p>In the example below, select "No" to see the follow-up.</p>

  <div class="sample">
    <fieldset class="sba-c-fieldset">
      <legend class="sba-c-legend">Please make a selection</legend>
      <ul class="sba-c-field-list">
        <li>
          <input id="q1_a1" type="radio" name="q1_answers" value="Yes">
          <label for="q1_a1">Yes</label>
        </li>
        <li>
          <input id="q1_a2" type="radio" name="q1_answers" value="No" aria-controls="followup1" data-follow-up="followup1" aria-expanded="false">
          <label for="q1_a2">No</label>
        </li>
      </ul>
    </fieldset>
    <div class="sba-c-follow-up" id="followup1" hidden>
      <ul class="sba-c-field-list">
        <li>
          <label for="follow_q1">Please explain why</label>
          <input type="text" id="follow_q1" disabled>
        </li>
      </ul>
    </div>
  </div>

  <pre><code class="language-markup">&lt;fieldset class="sba-c-fieldset">
  &lt;legend class="sba-c-legend">Please make a selection&lt;/legend>
  &lt;ul class="sba-c-field-list">
    &lt;li>
      &lt;input id="q1_a1" type="radio" name="q1_answers" value="Yes">
      &lt;label for="q1_a1">Yes&lt;/label>
    &lt;/li>
    &lt;li>
      &lt;input id="q1_a2" type="radio" name="q1_answers" value="No" aria-controls="followup1" data-follow-up="followup1" aria-expanded="false">
      &lt;label for="q1_a2">No&lt;/label>
    &lt;/li>
  &lt;/ul>
&lt;/fieldset>
&lt;div class="sba-c-follow-up" id="followup1" hidden>
  &lt;ul class="sba-c-field-list">
    &lt;li>
      &lt;label for="follow_q1">Please explain why&lt;/label>
      &lt;input type="text" id="follow_q1" disabled>
    &lt;/li>
  &lt;/ul>
&lt;/div></pre></code>

  <p>Follow-ups can be used on the following form fields:</p>
  <ul>
    <li>Radio buttons</li>
    <li>Checkboxes</li>
    <li>Select box <code>options</code></li>
  </ul>

  <div class="sample">
    <fieldset class="sba-c-fieldset">
      <legend class="sba-c-legend sba-u-visibility--screen-reader">Please make another selection</legend>
      <label for="select_example" class="sba-u-margin-top--0">Select example</label>
      <select name="" id="select_example">
        <option value="">Make a selection</option>
        <option value="Ok" aria-controls="followup_select" data-follow-up="followup_select" aria-expanded="false">Show follow-up</option>
      </select>
    </fieldset>
    <div class="sba-c-follow-up" id="followup_select" hidden>
      <ul class="sba-c-field-list">
        <li>
          <label for="follow_select_q2">Please explain why</label>
          <input type="text" id="follow_select_q2" disabled>
        </li>
      </ul>
    </div>
    <fieldset class="sba-c-fieldset sba-u-margin-top--3">
      <legend class="sba-c-legend">Please select the last item</legend>
      <ul class="sba-c-field-list">
        <li>
          <input id="check1" type="checkbox" name="checks" value="check1">
          <label for="check1">No follow-up</label>
        </li>
        <li>
          <input id="check2" type="checkbox" name="checks" value="check2" aria-controls="followup_check" data-follow-up="followup_check" aria-expanded="false">
          <label for="check2">Show follow-up</label>
        </li>
      </ul>
    </fieldset>
    <div class="sba-c-follow-up" id="followup_check" hidden>
      <ul class="sba-c-field-list">
        <li>
          <label for="follow_check_q2">Please explain why</label>
          <input type="text" id="follow_check_q2" disabled>
        </li>
      </ul>
    </div>
  </div>

  <p>A Follow-up can appear anywhere on the page, however, because it’s content length cannot be determined, it should be placed below the fieldset or parent container of the input that controls it to avoid creating large gaps between input sets.</p>

  <div class="sample">
    <fieldset class="sba-c-fieldset">
      <legend class="sba-c-legend">Please make another selection</legend>
      <ul class="sba-c-field-list">
        <li>
          <input id="q2_a1" type="radio" name="q2_answers" value="Yes" aria-controls="followup2" data-follow-up="followup2" aria-expanded="false">
          <label for="q2_a1">Yes</label>
        </li>
        <li>
          <input id="q2_a2" type="radio" name="q2_answers" value="No" >
          <label for="q2_a2">No</label>
        </li>
      </ul>
    </fieldset>
    <div class="sba-c-follow-up" id="followup2" hidden>
      <ul class="sba-c-field-list">
        <li>
          <label for="follow_q2">Please explain why</label>
          <input type="text" id="follow_q2" disabled>
        </li>
      </ul>
    </div>
  </div>

  <h3>Accessibility</h3>

  <ul>
    <li>
      If a quesiton has a follow-up that is triggered by a response, for example, selecting a specific radio button, include a reference to the follow-up's <code>id</code> with <code>aria-controls</code> and use <code>aria-expanded</code> to indicate whether or not the follow-up is visible.
    </li>
  </ul>


  <h2 id="adding-documents">Adding Documents</h2>

  <p>Adding documents includes two sepearate components.</p>

  <ul>
    <li>The <strong>document prompt</strong>, which describes the document to be added and to indicate if adding a document is optional.</li>
    <li>The <strong>document selector</strong>, which allows the user to upload or attach existing documents</li>
  </ul>

  <h3 id="document-prompt">Document Prompt</h3>
  <p>The document prompt has three main features:</p>

  <ol>
    <li>Text that describes what document(s) the user needs add. This supports basic HTML such as <code>&lt;p></code>, <code>&lt;a></code> <code>&lt;ul></code>, and <code>&lt;ol></code>. Links should open in a new browser tab.</li>
    <li>A button to launch the document selector</li>
    <li>An optional line of text to indicate whether an attached document is optional. Only indicate if adding documents is optional. All other cases will be required. There will be no need to indicate that a document is required since that will be the case the majority of the time.</li>
  </ol>

  <div class="sample">
    <div class="sba-c-document-prompt">
      <p class="sba-c-document-prompt__header">Please download and fill out <a href="#" target="_blank">SBA Form 1790</a>, then add as a PDF.</p>
      <button class="sba-c-button" type="button" aria-controls="doc_selector1" aria-expanded="false">
        <svg aria-hidden="true" class="sba-c-icon sba-u-margin-right--1">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#file"></use>
        </svg>Add document(s)
      </button>
      <em>Optional</em>
    </div>
  </div>

  <pre><code class="language-markup">&lt;div class="sba-c-document-prompt">
  &lt;p class="sba-c-document-prompt__header">Please download and fill out &lt;a href="#" target="_blank">SBA Form 1790&lt;/a>, then add as a PDF.&lt;/p>
  &lt;button class="sba-c-button" type="button" aria-controls="doc_selector1">
    &lt;svg aria-hidden="true" class="sba-c-icon sba-u-margin-right--1">
      &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#file">&lt;/use>
    &lt;/svg>Add document(s)
  &lt;/button>
  &lt;em>Optional&lt;/em>
&lt;/div></code></pre>




</article>
