<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  <head>
    <title>Pop-ups | Certify Design System Documentation</title>
<meta name="viewport" content="width=device-width">
<meta name="robots" content="noindex">





<link rel="stylesheet" href="../assets/stylesheets/application.css">
<link rel="stylesheet" href="../assets/cds.css">

<script src="../assets/javascripts/application.js"></script>
<script src="../assets/cds.js"></script>

<meta name="robots" content="noindex">

    <link rel="stylesheet" href="../assets/stylesheets/prototype/vendor/prism.css">
    <script src="../assets/javascripts/vendor/prism.js"></script>
  </head>
  <body class="styleguide">

    <header class="styleguide-masthead">
      <div class="sba-l-container sba-l-container--fullbleed">
        <div class="sba-l-row">
          <div class="sba-l-col--12 sba-u-padding-x--2">
            <a href="/certify-design-system-documentation/">
              <img class="styleguide-masthead__logo" alt="certify.SBA.gov logo" src="../assets/img/certify-sba-gov-logo_on-dark.png" />
            </a>
          </div>
        </div>
      </div>
    </header>

    <div class="sba-l-container sba-l-container--fullbleed sba-u-padding-bottom--7">
      <div class="sba-l-row">
        <div class="sba-l-sm-col--12 sba-l-md-col--4 sba-l-lg-col--3 sba-l-xl-col--2 sba-u-padding-x--2 sba-u-margin-bottom--5 sba-u-md-margin-bottom--0">
          <ul class="usa-sidenav-list">
            <li>
              <a class="" href="/certify-design-system-documentation/">Introduction</a>
            </li>
            <li>
              <button type="button" class="usa-sidenav-list-button " aria-collapsed="true" aria-controls="sublist_layout">
                Layout
                <svg aria-hidden="true" class="sba-c-icon icon-when-closed">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/certify-design-system-documentation/assets/svg-sprite/sprite.svg#angle-down"></use>
                </svg>
                <svg aria-hidden="true" class="sba-c-icon icon-when-open">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/certify-design-system-documentation/assets/svg-sprite/sprite.svg#angle-up"></use>
                </svg>
              </button>
              <ul class="usa-sidenav-sub_list" id="sublist_layout">
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/layout/content-wrappers.html">Content wrappers</a>
                  </li>
                  
                
                  
                
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/layout/grid.html">Grid</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/layout/page-templates.html">Page templates</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/layout/spacing.html">Spacing</a>
                  </li>
                  
                
              </ul>
            </li>
            <li>
              <button type="button" class="usa-sidenav-list-button  is-open usa-current " aria-collapsed="false
              " aria-controls="sublist_components">
                Components
                <svg aria-hidden="true" class="sba-c-icon icon-when-closed">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/certify-design-system-documentation/assets/svg-sprite/sprite.svg#angle-down"></use>
                </svg>
                <svg aria-hidden="true" class="sba-c-icon icon-when-open">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/certify-design-system-documentation/assets/svg-sprite/sprite.svg#angle-up"></use>
                </svg>
              </button>
              <ul class="usa-sidenav-sub_list" id="sublist_components">
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/accordions.html">Accordions</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/alerts.html">Alerts</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/badges.html">Badges</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/breadcrumbs.html">Breadcrumbs</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/button-group.html">Button group</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/buttons.html">Buttons</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/combobox.html">Combo box</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/datepicker.html">Datepicker</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/document-upload.html">Document upload</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/editable-tables.html">Editable tables</a>
                  </li>
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/faceting.html">Faceting</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/footer.html">Footer</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/forms.html">Forms</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/guidances.html">Guidances</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/icons.html">Icons</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/lists.html">Lists</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/masthead.html">Masthead</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/messages.html">Messages</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/pagination.html">Pagination</a>
                  </li>
                  
                
                  
                  <li>
                      <a class=" usa-current " href="/certify-design-system-documentation/components/pop-ups.html">Pop-ups</a>
                  </li>
                  
                
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/spinners.html">Spinners</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/table-of-contents.html">Table of contents</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/tables.html">Tables</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/tabs.html">Tabs</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/task-panels.html">Task panels</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/components/tooltips.html">Tooltips</a>
                  </li>
                  
                
              </ul>
            </li>

            <li>
              <button type="button" class="usa-sidenav-list-button " aria-collapsed="true" aria-controls="sublist_patterns">
                Patterns
                <svg aria-hidden="true" class="sba-c-icon icon-when-closed">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/certify-design-system-documentation/assets/svg-sprite/sprite.svg#angle-down"></use>
                </svg>
                <svg aria-hidden="true" class="sba-c-icon icon-when-open">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/certify-design-system-documentation/assets/svg-sprite/sprite.svg#angle-up"></use>
                </svg>
              </button>
              <ul class="usa-sidenav-sub_list" id="sublist_patterns">
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/patterns/card-patterns.html">Card Patterns</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/patterns/notes.html">Notes Pop-up</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/patterns/questions.html">Questions</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/patterns/recommendations.html">Recommendations and Determinations</a>
                  </li>
                  
                
                  
                  <li>
                      <a class="" href="/certify-design-system-documentation/patterns/show-hide.html">Show/Hide content</a>
                  </li>
                  
                
              </ul>
            </li>

            <li>
              <button type="button" class="usa-sidenav-list-button " aria-collapsed="true" aria-controls="sublist_utilities">
                Utilities
                <svg aria-hidden="true" class="sba-c-icon icon-when-closed">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/certify-design-system-documentation/assets/svg-sprite/sprite.svg#angle-down"></use>
                </svg>
              <svg aria-hidden="true" class="sba-c-icon icon-when-open">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/certify-design-system-documentation/assets/svg-sprite/sprite.svg#angle-up"></use>
              </svg>
              </button>
                <ul class="usa-sidenav-sub_list" id="sublist_utilities">
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/background-color.html">Background color</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/borders.html">Borders</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/color.html">Color</a>
                    </li>
                    
                  
                    
                  
                    
                  
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/flexbox.html">Flexbox</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/font-size.html">Font size</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/font-weight.html">Font weight</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/inputs.html">Inputs</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/margin.html">Margin</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/measure.html">Measure</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/padding.html">Padding</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/separators.html">Separators</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/text-alignment.html">Text alignment</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/text-decoration.html">Text-decoration</a>
                    </li>
                    
                  
                    
                    <li>
                        <a class="" href="/certify-design-system-documentation/utilities/visibility.html">Visibility</a>
                    </li>
                    
                  
                </ul>
              </li>
              <li>
                <a class="" href="/certify-design-system-documentation/releases.html">Release notes</a>
              </li>
            </ul>
        </div>
        <div class="sba-l-sm-col--12 sba-l-md-col--8 sba-u-md-padding-x--4 sba-l-lg-col--9 sba-l-xl-col--10 sba-u-padding-x--2 sba-u-lg-padding-x--7">
        <article>
  <span class="sba-c-badge sba-c-badge--warn">Draft</span>
  <h1>Pop-ups</h1>

  <p>A pop-up is a component that displays content in a view at the bottom right corner of the page. Users can minimize and close the popup.</p>

  <h4>Example</h4>
  <div class="sample">
    <button class="sba-c-button new-popup">A Pop-up</button>
  </div>
  <div id="popup" class="sba-c-popup">
    <a href="#" id="sba-c-popup-toggle" class="sba-c-popup__toggle">
      <header class="sba-c-popup__header">
        <h4 class="sba-c-popup__heading">Popup Title</h4>
        <button type="button" id="sba-c-popup-close" class="sba-c-popup__close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/certify-design-system-documentation/assets/svg-sprite/sprite.svg#white-x"></use>Close</button>
      </header>
    </a>
    <div class="sba-l-container sba-c-popup__contents">
      <h2>Lorem Ipsum</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus ornare augue, sed varius tortor posuere vitae. Proin vel quam et lectus imperdiet rutrum quis at risus. Praesent non ante vitae lectus lobortis vestibulum sit amet a lacus. Fusce quam erat, molestie vel cursus semper, rutrum eu nibh. Etiam condimentum efficitur bibendum. Quisque vel ex elit. Morbi fringilla, lectus quis sagittis porttitor, urna neque pretium lacus, sed condimentum mi dui ac nulla. Maecenas dictum interdum est, sit amet lobortis mi rhoncus vitae. Vivamus id finibus tellus. Aliquam erat volutpat. </p>

      <label for="note_subject">Name</label>
      <input type="text" id="note_subject">
      <label for="note">Comment</label>
      <textarea id="note" class="sba-u-margin-bottom--3"></textarea>
      <button type="button" class="sba-c-button sba-u-margin-bottom--3">Submit</button>
    </div>

  </div>

  <pre><code class="language-markup">&lt;button class="sba-c-button new-popup">New Note&lt;/button>
    &lt;div class="sba-c-popup">
    &lt;a href="#" id="sba-c-popup-toggle" class="sba-c-popup__toggle">
      &lt;header class="sba-c-popup__header">
        &lt;h4 class="sba-c-popup__heading">New SBA Note&lt;/h4>
        &lt;button type="button" id="sba-c-popup-close" class="sba-c-popup__close">&lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/certify-design-system-documentation/assets/svg-sprite/sprite.svg#white-x">&lt;/use>Close&lt;/button>
      &lt;/header>
    &lt;/a>
    &lt;div class="sba-l-container sba-c-popup__contents">
    [CONTENT]
    &lt;/div>
  &lt;/div>
  </code></pre>

  <h2>Guidance</h2>
  <ul>
    <li>The pop-up component has not yet been tested on mobile.</li>
    <li>The pop-up area is scrollable.</li>
    <li>Clicking the header will toggle the visibility of the content area in the popup, maintaining the state of the contents and scroll position.</li>
    <li>Clicking the close button will hide the entire pop-up view.</li>
  </ul>
</article>

        </div>
      </div>
    </div>
    <footer role="contentinfo">
      <nav class="sba-u-border-y--1">
        <div class="sba-l-container">
          <div class="sba-l-row">
            <div class="sba-l-col--12 sba-l-md-col--3 sba-l-lg-col--2 sba-u-margin-right--4 sba-u-md-padding-y--3 sba-u-padding-y--2">
              <a class="sba-u-font-weight--bold sba-u-color--base sba-u-text-decoration--none" href="http://sba.gov/contracting" target="_blank">SBA.gov/contracting</a>
            </div>
            <div class="sba-l-col--12 sba-l-md-col--3 sba-l-lg-col--2 sba-u-margin-right--4 sba-u-md-padding-y--3 sba-u-padding-y--2">
              <a class="sba-u-font-weight--bold sba-u-color--base sba-u-text-decoration--none" href="http://whitehouse.gov/" target="_blank">WhiteHouse.gov</a>
            </div>
            <div class="sba-l-col--12 sba-l-md-col--3 sba-l-lg-col--2 sba-u-margin-right--4 sba-u-md-padding-y--3 sba-u-padding-y--2">
              <a class="sba-u-font-weight--bold sba-u-color--base sba-u-text-decoration--none" href="http://regulations.gov/" target="_blank">Regulations.gov</a>
            </div>
            <div class="sba-l-col--12 sba-l-md-col--3 sba-l-lg-col--2 sba-u-margin-right--4 sba-u-md-padding-y--3 sba-u-padding-y--2">
              <a class="sba-u-font-weight--bold sba-u-color--base sba-u-text-decoration--none" href="https://business.usa.gov/" target="_blank">BusinessUSA.gov</a>
            </div>
            <div class="sba-l-col--12 sba-l-md-col--3 sba-l-lg-col--2 sba-u-margin-right--4 sba-u-md-padding-y--3 sba-u-padding-y--2">
              <a class="sba-u-font-weight--bold sba-u-color--base sba-u-text-decoration--none" href="http://usa.gov/" target="_blank">USA.gov</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="sba-l-container">
        <div class="sba-l-row">
          <div class="sba-l-col--12 sba-l-md-col--6 sba-u-padding-y--3 sba-u-md-padding-y--5">
            <a href="http://www.sba.gov" target="_blank">
              <img alt="U.S. Small Business Administration logo" width="300px" src="/certify-design-system-documentation/assets/img/sba-logo.png">
            </a>
          </div>
          <div class="sba-l-col--12 sba-l-md-col--6 sba-u-display--flex sba-u-flex-direction--column sba-u-md-align-items--flex-end  sba-u-md-padding-y--3">
            <div class="sba-footer-social_links">
              <a class="sba-u-text-decoration--none" href="https://www.facebook.com/SBAgov" target="_blank" title="Follow certify.SBA.gov on facebook!">
                <img alt="facebook logo icon" src="/certify-design-system-documentation/assets/img/facebook.png" width="38px">
              </a>
              <a class="sba-u-text-decoration--none" href="https://www.twitter.com/sbagov" target="_blank" title="Follow certify.SBA.gov on twitter!">
                <img alt="twitter logo icon" src="/certify-design-system-documentation/assets/img/twitter.png" width="38px">
              </a>
              <a class="sba-u-text-decoration--none" href="https://www.youtube.com/c/sbagov" target="_blank" title="Follow certify.SBA.gov on YouTube!">
                <img alt="youtube logo icon" src="/certify-design-system-documentation/assets/img/youtube.png" width="38px">
              </a>
            </div>
            <h3 class="sba-u-margin-top--1">Contact SBA</h3>
            <a href="mailto:help@certify.sba.gov">help@certify.sba.gov</a>
          </div>
        </div>
      </div>
      <div class="sba-footer-dev-notes sba-u-padding-y--1 sba-u-border-top--1 sba-u-margin-top--4 sba-u-md-margin-top--0">
        <div class="sba-l-container">
        </div>
      </div>
    </footer>
  </body>
</html>
