.usa-button.usa-button-knockout {
  background: white;
  border: 2px solid $color-primary;
  color: $color-primary;
}

.usa-button.usa-button-knockout:hover,
.usa-button.usa-button-knockout:focus {
  background-color: $color-primary;
  color: white;
}

.usa-button-disabled,
.usa-button-disabled:visited,
.usa-button-disabled:active,
.usa-button-disabled:hover,
.usa-button-disabled:link {
  background-color: $color-gray-lighter;
  color: $color-gray;
  pointer-events: none;
}

button.usa-button-secondary[type="submit"],
button.usa-button-secondary[type="submit"]:hover {
  box-shadow: none;
  color: white;
}

button.usa-button-secondary[type="submit"]:focus {
  box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
}
