.usa-button.usa-button-knockout {
  background: white;
  border: 1px solid $color-primary;
  color: $color-primary;
}

.usa-button.usa-button-knockout:hover,
.usa-button.usa-button-knockout:focus {
  background-color: $color-primary;
  color: white;
}

.usa-button-disabled,
.usa-button-disabled:visited,
.usa-button-disabled:active,
.usa-button-disabled:hover,
.usa-button-disabled:link {
  background-color: $color-gray-lighter;
  color: $color-gray;
  pointer-events: none;
}
