.usa-color-text-primary {
    color: $color-primary;
}

.usa-color-green {
  color: $color-green;
}

.usa-color-red {
  color: $color-secondary;
}

.usa-color-red-dark {
  color: $color-secondary-dark;
}

.usa-color-red-darkest {
  color: $color-secondary-darkest;
}

.usa-color-gray {
  color: $color-gray;
}

.usa-color-gold {
  color: $color-gold;
}

.subheading,
.subheading--large {
  font-family: $font-sans;
  font-size: 1.3rem;
  font-weight: normal;
  color: $color-gray;
  display: block;
  letter-spacing: 0.5px;
  margin-bottom: 0.6rem;
  margin-top: 0;

  + h1 {
    margin-top: 0;
  }
}

.subheading--large {
  font-size: 1.7rem;
}



.hide {
  visibility: hidden;

  &.haha-jk {
    visibility: visible;
  }
}

.certify-page-header {
  @include align-items(center);
  @include display(flex);
//  @include justify-content(space-between);
  margin-top: 3rem;
  margin-bottom: 1.5rem;

  h1 {
    margin: 0;
  }
}

.certify-page-header__secondary {
  padding-left: 4rem;
}

.certify-quick-note {
  background: $color-gray-lightest;
  margin: 1.5rem 0;
  padding: .5rem 2rem;

  p {
    font-size: 1.5rem;
  }
}

.questionnaire--answers .review_questions:first-of-type h2{
  margin-top: 0;
}
