// These utilities will help compliment the web design standards

// Hide content visually and from screen readers
.usa-extend--hidden {
  display: none;
}

.overview-wrap {
  height: 1%;
  margin-top: 5rem;
  overflow: hidden;
}
