// These utilities will help compliment the web design standards

// Hide content visually and from screen readers
.usa-extend--hidden {
  display: none;
}

.overview-wrap {
  @include clearfix;
  margin-top: 5rem;
}

.certify-grid-wrap {
  @include clearfix;
}

.certify-width-two-thirds {

  @include media($nav-width) {
    width: 65.05695%;
  }
}

.certify-width-one-thirds {

  @include media($nav-width) {
    width: 65.05695%;
  }
}

.certify-sticky {
  @include media($nav-width) {
    overflow-x: hidden;
    overflow-y: scroll;
    position: sticky;
    top: 2rem;
  }
}
