---
layout: iframe
---

<table class="sba-c-table sba-c-table--editable" id="table1" aria-live="polite" aria-atomic="true">
  <caption>Payments and excessive withdrawals</caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col" class="js-sum" data-info-type="percent">Equity Interest</th>
      <th scope="col" data-hint-text="This is optional">Reasons for Payment</th>
      <th scope="col" class="js-sum" data-info-type="usd">Total Payments</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
    <tbody>
      <tr id="table1_tr0_data">
        <th colspan="6"><em>No items added yet</em></th>
      </tr>
    </tbody>
</table>
<button type="button" class="sba-c-button" id="table1_add_item">Add item</button>
