<fieldset class="questions message-form">
  <legend class="usa-sr-only">New Message</legend>
  <label for="message_to">To</label>
  <input type="text" id="message_to" value="Mike Jones" disabled>
  <label for="message_subject">Subject</label>
  <input type="text" id="message_subject">
  <label for="message_text">Message</label>
  <textarea name="" id="message_text" class="hidden"></textarea>
  <div class="editor-container">
    <div id="editor"></div>
  </div>
</fieldset>
<div class="certify-quick-note">
  <p><em>This message will be sent when you finish returning the case.</em></p>
</div>

<script>
  var quill = new Quill('#editor', {
    placeholder: 'Write or paste your text here',
    theme: 'snow'
  });
</script>

<script>
  $(document).ready(function() {
    $('.ql-editor').on('keyup', function(){
      $('#message_text').val($(this).text());
    });
  });
</script>
