
  <fieldset class="questions">
    <legend class="usa-sr-only">New Note</legend>
    <label for="note_title">Title</label>
    <input type="text" id="note_title">
    <label for="note">Note</label>
    <textarea name="" id="note"></textarea>
  </fieldset>

  <fieldset class="question tags">
    <h4>Tags</h4>
      <div class="usa-width-one-half">
        <ul class="tag-selection-list">
          <li>
            <input id="note-tag--BOS-Analysis" type="checkbox" name="note-tags" value="BOS Analysis">
            <label for="note-tag--BOS-Analysis">BOS Analysis</label>
          </li>
          <li>
            <input id="note-tag--Ownership" type="checkbox" name="note-tags" value="Ownership">
            <label for="note-tag--Ownership">Ownership</label>
          </li>
          <li>
            <input id="note-tag--Control" type="checkbox" name="note-tags" value="Control">
            <label for="note-tag--Control">Control</label>
          </li>
          <li>
            <input id="note-tag--Size" type="checkbox" name="note-tags" value="Size">
            <label for="note-tag--Size">Size</label>
          </li>
          <li>
            <input id="note-tag--Character" type="checkbox" name="note-tags" value="Character">
            <label for="note-tag--Character">Character</label>
          </li>
        </ul>
      </div>
      <div class="usa-width-one-half">
        <ul class="tag-selection-list">
          <li>
            <input id="note-tag--Potential-for-Success" type="checkbox" name="note-tags" value="Potential for Success">
            <label for="note-tag--Potential-for-Success">Potential for Success</label>
          </li>
          <li>
            <input id="note-tag--Economic-Disadvantage" type="checkbox" name="note-tags" value="Economic Disadvantage">
            <label for="note-tag--Economic-Disadvantage">Economic Disadvantage</label>
          </li>
          <li>
            <input id="note-tag--Social-Disadvantage" type="checkbox" name="note-tags" value="Social Disadvantage">
            <label for="note-tag--Social-Disadvantage">Social Disadvantage</label>
          </li>
        </ul>
      </div>
    </fieldset>
