<div class="taskbar-wrap" id="taskbar-wrap">
  <div class="taskbar">
    <div class="taskbar-section">
      <p class="taskbar-section__text">
        <span class="taskbar-section__subhead">Application is in</span> <span data-print="applicationstatus">Screening</span>
      </p>
    </div>
    <div class="taskbar-section hide-mobile" data-filter-applicationstatus="Processing">
      <p class="taskbar-section__text">
        <span class="taskbar-section__subhead">Due date is</span> <span id="due_date_text">11/09/2017 <small>(30 days left)</small></span>
      </p>
    </div>
    <div class="taskbar-section hide-mobile">
      <p class="taskbar-section__text">
        <span class="taskbar-section__subhead">Currently with</span> <span data-print="currently_with">{{ site.cods_analyst }}</span>
      </p>
    </div>
    <div class="taskbar-actions">
      <div class="task-panel" id="screening_task_panel">
        <button type="button" class="usa-button-unstyled task-panel-toggle" aria-expanded="false" aria-controls="task-panel1">Actions</button>
        <div id="task-panel1" class="task-panel-content">
          <ul class="task-panel-menu">
            <li class="task-panel-menu__item">
              <a href="{% if page.change_status_link %}
                {{ page.change_status_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link"><strong>Accept for processing</strong></a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.assign_link %}
                {{ page.assign_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Assign case</a>
            </li>
            <li class="task-panel-menu__item">
              <a id="add_note" href="{% if page.notes_link %}
                {{ page.notes_link }}?new_note=true
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Add SBA note</a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.revisions_link %}
                {{ page.revisions_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Send deficiency letter</a>
            </li>
          </ul>
          <hr>
          <ul class="task-panel-menu">
            <li class="task-panel-menu__item">
              <a href="{% if page.exit_interview_link %}
                {{ page.exit_interview_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Send exit interview</a>
            </li>
          </ul>
        </div>
      </div>


      <!-- DEVNOTE: The ID is only for JS purposes in prototype. DO NOT INCLUDE -->
      <div class="task-panel" id="processing_task_panel">
        <button type="button" class="usa-button-unstyled task-panel-toggle" aria-expanded="false" aria-controls="task-panel1">Actions</button>
        <div id="task-panel1" class="task-panel-content">
          <ul class="task-panel-menu">
            <li class="task-panel-menu__item">
              <a href="{% if page.recommendation_link %}
                {{ page.recommendation_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link"><strong>Make a recommendation</strong></a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.letter_of_intent_link %}
                {{ page.letter_of_intent_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Send letter of intent</a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.assign_link %}
                {{ page.assign_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Assign case</a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.upload_document_link %}
                {{ page.upload_document_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Upload a document</a>
            </li>
            <li class="task-panel-menu__item">
              <a id="add_note" href="{% if page.notes_link %}
                {{ page.notes_link }}?new_note=true
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Add SBA note</a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.refer_link %}
                {{ page.refer_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Refer case within SBA </a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.change_due_date_link %}
                {{ page.change_due_date_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Change due date</a>
            </li>
          </ul>
          <hr>
          <ul class="task-panel-menu">
            <li class="task-panel-menu__item">
              <a href="{% if page.exit_interview_link %}
                {{ page.exit_interview_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link">Send exit interview</a>
            </li>
            <li class="task-panel-menu__item">
              <a href="{% if page.suspension_link %}
                {{ page.suspension_link }}
              {% else %}
                #
              {% endif %}" class="task-panel-menu__link--emergency">Suspend the firm</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {

  if (typeof applicationstatus !== "undefined") {
    if (applicationstatus == "Processing") {
      $('#screening_task_panel').remove();
    }
    else {
      $('#processing_task_panel').remove();
    }
  }
  else {
    $('#processing_task_panel').remove();
  }


});
</script>
