<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  <head>
    <title>Grid Basic | Certify Design System Documentation</title>
<meta name="viewport" content="width=device-width">
<meta name="robots" content="noindex">





<link rel="stylesheet" href="../../assets/stylesheets/application.css">
<link rel="stylesheet" href="../../assets/cds.css">

<script src="../../assets/javascripts/application.js"></script>
<script src="../../assets/cds.js"></script>

<meta name="robots" content="noindex">

  </head>
  <body class="iframe-example">
    <div class="sba-l-container">
  <div class="sba-l-row">
    <div class="sba-l-col grid-example">
      Column
    </div>
    <div class="sba-l-col grid-example">
      Column
    </div>
    <div class="sba-l-col grid-example">
      Column
    </div>
    <div class="sba-l-col grid-example">
      Column
    </div>
  </div>
</div>

  </body>
</html>
