$card_padding_sm: $multiple * 2;
$card_padding_md: $multiple * 3;
$card_padding_lg: $multiple * 6;

.sba-c-card {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  background: white;
  border: 1px solid $color-gray-light;
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
  margin-bottom: $multiple * 2;
}

.sba-c-card__header {
  padding: $card_padding_sm;
  width: 100%;

  @include media($width-md) {
    padding: $card_padding_md;

    > * {
    }
  }
}

.sba-c-card__primary-heading {
  margin: 0;
}

.sba-c-card__controls {
  @include flex-basis(14rem);
  @include flex-grow(0);
  max-width: 14rem;
  text-align: right;

  .sba-c-button {
    width: auto;
  }

  .sba-c-icon {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.sba-c-card__body {
  padding: $card_padding_sm;
  width: 100%;

  @include media($width-md) {
    padding: $card_padding_md;
  }
}
