.sba-c-document-prompt {
  border: 3px solid $color-primary;
  display: table;
  padding: $multiple * 3;

  ul {
    list-style: disc;
  }

  button {
    margin-right: 24px;
  }
}

.sba-c-document-prompt__header {
  font-size: 2rem;
  margin: 0 0 $multiple * 2 0;
}

.sba-c-input-list {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.sba-c-legend {
  font-size: 2rem;
  font-weight: $font-bold;
  margin-bottom: $multiple * 2;
}
