.sba-c-icon {
  fill: $color-base;
  height: 2rem;
  width: 2rem;
}

.sba-c-icon--lg {
  height: 4rem;
  width: 4rem;
}

.sba-c-icon--blue {
  fill: $color-blue;
}

.sba-c-icon--red {
  fill: $color-red;
}

.sba-c-icon--green {
  fill: $color-green;
}
