.sba-c-pagination {
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center);
  margin: 1.6rem 0;
  width: 100%;
}

.sba-c-pagination__forwards {
  @include order(3);
}

.sba-c-pagination__backwards {
  @include order(1);
}

.sba-c-pagination__numbers {
  @include order(2);
}

.sba-c-pagination__link,
.sba-c-pagination__link:visited {
  background: $color-white;
  border: 2px solid $color-gray-lighter;
  border-radius: 4px;
  color: $color-gray;
  display: inline-block;
  line-height: 3.8rem;
  text-align: center;
  text-decoration: none;
  margin: 0 2px;
  width: 4.4rem;
  height: 4.4rem;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    border-color: $color-gray;
    text-decoration: underline;
  }

  svg {
    fill: $color-gray;
    margin-top: 1.05rem;
  }
}

.sba-c-pagination__link--disabled {
  pointer-events: none;
  opacity: .2;
}

.sba-c-pagination__link--current,
.sba-c-pagination__link--current:visited,
.sba-c-pagination__link--current:active,
.sba-c-pagination__link--current:hover,
.sba-c-pagination__link--current:focus {
  border-color: $color-blue;
  color: $color-blue;
  text-decoration: none;
}

.sba-c-pagination__link--ellipses,
.sba-c-pagination__link--ellipses:visited {
  border-color: transparent;
  pointer-events: none;
  margin: 0;
  width: 3rem;
}


// Media Query Stuff
.sba-c-pagination__numbers .sba-c-pagination__link {
  display: none;
}

@include media($nav-width) {
  .sba-c-pagination__status,
  .sba-c-pagination__link--end {
    display: none;
  }

  .sba-c-pagination__numbers .sba-c-pagination__link {
    display: inline-block;
  }

  .sba-c-pagination__forwards .sba-c-pagination__link:nth-child(1) {
    margin-right: 0;
  }

  .sba-c-pagination__backwards .sba-c-pagination__link:nth-child(2) {
    margin-left: 0;
  }
}
