<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  <head>
    {% include _head.html %}
  </head>
  <body class="public mainscreen {% if page.body_class %}
    {{ page.body_class }}{% endif %}">
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>

  {% include _analyst_masthead_full.html %}

  <section class="usa-grid-full">
    <article id="main-content">
          {{ content }}
    </article>
    <script>
      $(function() {
        $('.expander-view-more-trigger').click(function () {
          $(this).toggleClass("expander-view-more-hidden");
        });
      })
    </script>
    <div class="usa-one-whole">
      <a class="return_to_top" href="#top">Return to top</a>
    </div>
  </section>

  {% include _footer.html %}

  <div class="note-popup">
    <a href="#" id="note-popup-toggle" class="note-popup__toggle">
      <header class="note-popup__header">
        <h4 class="note-popup__heading">New SBA Note</h4>
        <button type="button" id="note-popup-close" class="note-popup__close">Close</button>
      </header>
    </a>
    <form action="" id="new-note-form" class="new-note-form">
      <fieldset class="questions">
        <legend class="usa-sr-only">New Note</legend>
        <label for="note_subject">Title</label>
        <input type="text" id="note_subject">
        <label for="note">Note</label>
        <textarea name="" id="note"></textarea>
      </fieldset>

      <fieldset class="question tags">
        <h4>Tags</h4>
          <div class="usa-width-one-third">
            <ul class="tag-selection-list">
              <li>
                <input id="note-tag--BOS-Analysis" type="checkbox" name="note-tags" value="BOS Analysis">
                <label for="note-tag--BOS-Analysis">BOS Analysis</label>
              </li>
              <li>
                <input id="note-tag--Ownership" type="checkbox" name="note-tags" value="Ownership">
                <label for="note-tag--Ownership">Ownership</label>
              </li>
              <li>
                <input id="note-tag--Control" type="checkbox" name="note-tags" value="Control">
                <label for="note-tag--Control">Control</label>
              </li>

            </ul>
          </div>
          <div class="usa-width-one-third">
            <ul class="tag-selection-list">
              <li>
                <input id="note-tag--Size" type="checkbox" name="note-tags" value="Size">
                <label for="note-tag--Size">Size</label>
              </li>
              <li>
                <input id="note-tag--Character" type="checkbox" name="note-tags" value="Character">
                <label for="note-tag--Character">Character</label>
              </li>
              <li>
                <input id="note-tag--Potential-for-Success" type="checkbox" name="note-tags" value="Potential for Success">
                <label for="note-tag--Potential-for-Success">Potential for Success</label>
              </li>
              </li>
            </ul>
          </div>
          <div class="usa-width-one-third">
            <ul class="tag-selection-list">
              <li>
                <input id="note-tag--Economic-Disadvantage" type="checkbox" name="note-tags" value="Economic Disadvantage">
                <label for="note-tag--Economic-Disadvantage">Economic Disadvantage</label>
              </li>
              <li>
                <input id="note-tag--Social-Disadvantage" type="checkbox" name="note-tags" value="Social Disadvantage">
                <label for="note-tag--Social-Disadvantage">Social Disadvantage</label>
              </li>
            </ul>
          </div>
        </fieldset>
        <button type="submit">Add SBA note</button>
    </form>
  </div>
