<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  <head>
    {% include _head.html %}
  </head>
  <body class="public mainscreen">

  {% include _analyst-header.html %}

  {% include _analyst_masthead_old.html %}

  <section class="usa-grid-full">
    <article id="main-content">
      <section class="usa-width-one-whole">
        <aside class="usa-width-one-fourth">
          {% include _analyst_left-nav.html %}
        </aside>
        <article class="usa-width-three-fourths">
          {{ content }}
          <script>
            $(function() {
              $('.expander-view-more-trigger').click(function () {
                $(this).toggleClass("expander-view-more-hidden");
              });
            })
          </script>
        </article>
      </section>
    </article>
    <div class="usa-one-whole">
      <a class="return_to_top" href="#top">Return to top</a>
    </div>
  </section>

  {% include _footer.html %}
