<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  <head>
    {% include _head.html %}
    <link rel="stylesheet" href="{{ relative }}assets/stylesheets/prototype/vendor/prism.css">
    <script src="{{ relative }}assets/javascripts/vendor/prism.js"></script>
  </head>
  <body>


    <header class="masthead">
      <div class="usa-navbar certify-navbar">
        <div class="sba-l-container sba-l-container--fullbleed">
          <div class="usa-logo certify-logo" id="logo">
            <img alt="certify.SBA.gov logo" src="{{ relative }}assets/img/certify-sba-gov-logo_on-dark.png" />
          </div>
        </div>
        <button class="usa-menu-btn">Menu</button>
      </div>

      <nav role="navigation" class="usa-nav certify-nav">
        <div class="usa-nav-inner">
          <button class="usa-nav-close">
            <img src="{{ site.baseurl }}/assets/img/close.svg" alt="close">
          </button>

          <div class="certify-global-nav">
            <div class="sba-l-container sba-l-container--fullbleed">
              <div class="certify-global-nav__primary">
                <a href="#" class="certify-logo__link">
                  <img class="certify-logo" alt="certify.SBA.gov logo" src="{{ relative }}assets/img/certify-sba-gov-logo_on-dark.png" />
                </a>
              </div>
            </div>
          </div>

        </div>
      </nav>
    </header>

    <div class="sba-l-container sba-l-container--fullbleed">
      <div class="sba-l-row">
        <div class="sba-l-sm-col--12 sba-l-md-col--golden-sm sba-l-lg-col--3">
          <ul class="usa-sidenav-list">
            <li>
              <a href="{{ site.baseurl }}/styleguide/components/">Components</a>
              <ul class="usa-sidenav-sub_list">
                <li>
                  <a href="{{ site.baseurl }}/styleguide/components#icons">Icons</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/components/form-controls/" class="usa-current">Transitional Items</a>
                <ul class="usa-sidenav-sub_list">
                  <li>
                    <a href="#text-input">Text inputs and area</a>
                  </li>
                </ul>
              </li>
            </ul>
        </div>
        <div class="sba-l-sm-col--12 sba-l-md-col--golden-lg sba-l-lg-col--9">
      
        {{ content }}
        </div>
      </div>
    </div>




  </body>
</html>
