<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  <head>
    {% include _head.html %}
    <link rel="stylesheet" href="{{ relative }}assets/stylesheets/prototype/vendor/prism.css">
    <script src="{{ relative }}assets/javascripts/vendor/prism.js"></script>
  </head>
  <body class="styleguide">


    <header class="masthead">
      <div class="usa-navbar certify-navbar">
        <div class="sba-l-container sba-l-container--fullbleed">
          <div class="usa-logo certify-logo" id="logo">
            <img alt="certify.SBA.gov logo" src="{{ relative }}assets/img/certify-sba-gov-logo_on-dark.png" />
          </div>
        </div>
        <button class="usa-menu-btn">Menu</button>
      </div>

      <nav role="navigation" class="usa-nav certify-nav">
        <div class="usa-nav-inner">
          <button class="usa-nav-close">
            <img src="{{ site.baseurl }}/assets/img/close.svg" alt="close">
          </button>

          <div class="certify-global-nav">
            <div class="sba-l-container sba-l-container--fullbleed">
              <div class="certify-global-nav__primary">
                <a href="#" class="certify-logo__link">
                  <img class="certify-logo" alt="certify.SBA.gov logo" src="{{ relative }}assets/img/certify-sba-gov-logo_on-dark.png" />
                </a>
              </div>
            </div>
          </div>

        </div>
      </nav>
    </header>

    <div class="sba-l-container sba-l-container--fullbleed">
      <div class="sba-l-row">
        <div class="sba-l-sm-col--12 sba-l-md-col--4 sba-l-lg-col--3">
          <ul class="usa-sidenav-list">
            <li>
              <a class="{% if page.sub_section contains "index" %} usa-current {% endif %}" href="{{ site.baseurl }}/styleguide/">Introduction</a>
            </li>
            <li>
              <button type="button" class="usa-sidenav-list-button {% if page.main_section contains "layout" %} is-open usa-current {% endif %}" aria-collapsed="{% if page.main_section contains "layout" %}false
              {% else %}true{% endif %}" aria-controls="sublist_components">
                Layout
                <svg aria-hidden="true" class="sba-c-icon icon-when-closed">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-down"></use>
                </svg>
                <svg aria-hidden="true" class="sba-c-icon icon-when-open">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-up"></use>
                </svg>
              </button>
              <ul class="usa-sidenav-sub_list" id="sublist_components">
                <li>
                  <a class="{% if page.sub_section contains "grid" %} usa-current {% endif %}" href="{{ site.baseurl }}/styleguide/layout/grid.html">Grid</a>
                </li>
                <li>
                  <a class="{% if page.sub_section contains "spacing" %} usa-current {% endif %}" href="{{ site.baseurl }}/styleguide/layout/spacing.html">Spacing</a>
                </li>
              </ul>
            </li>
            <li>
              <button type="button" class="usa-sidenav-list-button {% if page.main_section contains "components" %} is-open usa-current {% endif %}" aria-collapsed="{% if page.main_section contains "components" %}false
              {% else %}true{% endif %}" aria-controls="sublist_components">
                Components
                <svg aria-hidden="true" class="sba-c-icon icon-when-closed">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-down"></use>
                </svg>
                <svg aria-hidden="true" class="sba-c-icon icon-when-open">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-up"></use>
                </svg>
              </button>
              <ul class="usa-sidenav-sub_list" id="sublist_components">
                <li>
                  <a class="{% if page.sub_section contains "icons" %} usa-current {% endif %}" href="{{ site.baseurl }}/styleguide/components/icons.html">Icons</a>
                </li>
                <li>
                  <a class="{% if page.sub_section contains "pagination" %} usa-current {% endif %}" href="{{ site.baseurl }}/styleguide/components/pagination.html">Pagination</a>
                </li>
              </ul>
            </li>
            <li>
              <button type="button" class="usa-sidenav-list-button {% if page.main_section contains "transitional" %} is-open usa-current {% endif %}" aria-collapsed="{% if page.main_section contains "transitional" %}false
              {% else %}true{% endif %}" aria-controls="sublist_transitional">
                Transitional
                <svg aria-hidden="true" class="sba-c-icon icon-when-closed">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-down"></use>
                </svg>
              <svg aria-hidden="true" class="sba-c-icon icon-when-open">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-up"></use>
              </svg>
              </button>
                <ul class="usa-sidenav-sub_list" id="sublist_transitional">
                  <li>
                    <a class="{% if page.sub_section contains "cards" %} usa-current {% endif %}" href="{{ site.baseurl }}/styleguide/transitional/cards.html">Cards</a>
                  </li>
                  <li>
                    <a class="{% if page.sub_section contains "taskpanel" %} usa-current {% endif %}" href="{{ site.baseurl }}/styleguide/transitional/taskpanel.html">Task Panels</a>
                  </li>
                </ul>
              </li>
              <li>
                <button type="button" class="usa-sidenav-list-button {% if page.main_section contains "utilities" %} is-open usa-current {% endif %}" aria-collapsed="{% if page.main_section contains "utilities" %}false
                {% else %}true{% endif %}" aria-controls="sublist_transitional">
                  Utilities
                  <svg aria-hidden="true" class="sba-c-icon icon-when-closed">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-down"></use>
                  </svg>
                <svg aria-hidden="true" class="sba-c-icon icon-when-open">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/img/svg-sprite/sprite.svg#angle-up"></use>
                </svg>
                </button>
                  <ul class="usa-sidenav-sub_list" id="sublist_transitional">
                    <li>
                      <a class="{% if page.sub_section contains "padding" %} usa-current {% endif %}" href="{{ site.baseurl }}/styleguide/utilities/padding.html">Padding</a>
                    </li>
                  </ul>
                </li>
            </ul>
        </div>
        <div class="sba-l-sm-col--12 sba-l-md-col--8 sba-l-lg-col--9">
        {{ content }}
        </div>
      </div>
    </div>




  </body>
</html>
